In [1]:
import json
import pandas as pd
import numpy as np
import re
import random
import sqlite3

with open('lookup1.json') as json_file: 
    data = json.load(json_file)

with open('uniquelookup.json') as json_file:
    data2 = json.load(json_file)

In [2]:
conn = sqlite3.connect('testQ.db')
c = conn.cursor()

In [3]:
#question_template = 'What is the number of (Bed Entity) in (Location Entity)?'
state_dict = {'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'}
output = {}
question_template_id = 'db3q1'
count = 1
print(data['Location Entity'])
question_key = {}
def replaceBedState(name):
    query = ""
    if bed == 'staffed beds':
        query = sql_template.replace("Bed Entity Column", "NUM_STAFFED_BEDS")
        query = query.replace("State Entity", bed)
    elif bed == 'licensed beds':
        query = sql_template.replace("Bed Entity Column", "NUM_LICENSED_BEDS")
        query = query.replace("State Entity", bed)
    elif bed == 'ICU beds':
        query = sql_template.replace("Bed Entity Column", "NUM_ICU_BEDS")
        query = query.replace("State Entity", bed)
    return query

def replaceBedCounty(c_name, s_name):
    query = ""
    if bed == 'staffed beds':
        query = sql_template.replace("Bed Entity Column", "NUM_STAFFED_BEDS")
        query = query.replace("State Entity", s_name)
        query = query.replace("County Entity", c_name)
    elif bed == 'licensed beds':
        query = sql_template.replace("Bed Entity Column", "NUM_LICENSED_BEDS")
        query = query.replace("State Entity", s_name)
        query = query.replace("County Entity", c_name)
    elif bed == 'ICU beds':
        query = sql_template.replace("Bed Entity Column", "NUM_ICU_BEDS")
        query = query.replace("State Entity", s_name)
        query = query.replace("County Entity", c_name)
    return query
while count<100:  
    output[count] = []
    bed = random.choice(data['Bed Entity'])
    location = random.choice(data['Location Entity'])
    while location.find('Country') >= 0 or location.find('Province') >= 0 or location.find('(') < 0: 
        location = random.choice(data['Location Entity'])
    if location == 'in the state of (State)': 
        location = 'the state of (State)'
    entity = re.findall('\(([^)]+)', location)
    query = ""
    populated_entities = []
    if len(entity) == 1:
        sql_template = "Select Sum(Bed Entity Column) From db3 Where STATE_Name = \"State Entity\""
        question_template = 'What is the number of (Bed Entity) in (State Entity)?'
        if entity[0] == 'State': 
            real_question = question_template.replace("(Bed Entity)", bed)
            state_name = random.choice(data2['State'])
            loc = location.replace("(State)", state_name)
            real_question = real_question.replace("(State Entity)", loc)
            query = replaceBedState(state_name)
            populated_entities.append(bed)
            populated_entities.append(state_name)
                 
        if entity[0] == 'State Abbreviation': 
            real_question = question_template.replace("(Bed Entity)", bed)
            state_abbreviation = random.choice(data2['State Abbreviation'])
            loc = location.replace("(State Abbreviation)", state_abbreviation)
            real_question = real_question.replace("(State Entity)", loc)
            query = replaceBedState(state_dict[state_abbreviation])
            populated_entities.append(bed)
            populated_entities.append(state_abbreviation)
    else: 
        sql_template = "Select SUM(Bed Entity Column) from db3 where STATE_Name = \"State Entity\" and COUNTY_Name = \"County Entity\""
        question_template = 'What is the number of (Bed Entity) in (County Entity) (State Entity)?'
        if entity[1] =='State':
            real_question = question_template.replace("(Bed Entity)", bed)
            county_list = random.choice(data2['County']).split(", ")
            county_name = county_list[0]
            state_name = county_list[1]
            loc = location.replace("(County)", county_name)
            loc = loc.replace("(State)", state_name)
            real_question = real_question.replace("(County Entity) (State Entity)", loc)
            query = replaceBedCounty(county_name, state_name)
            populated_entities.append(bed)
            populated_entities.append(county_name + ', ' + state_name)
        if entity[1] == 'State Abbreviation': 
            real_question = question_template.replace("(Bed Entity)", bed)
            county_list = random.choice(data2['County']).split(", ")
            county_name = county_list[0]
            state_name = county_list[1]
            key_list = list(state_dict.keys())
            val_list = list(state_dict.values())
            state_abbreviation = key_list[val_list.index(state_name)]
            loc = location.replace("(County)", county_name)
            loc = loc.replace("(State Abbreviation)", state_abbreviation)
            real_question = real_question.replace("(County Entity) (State Entity)", loc)
            query = replaceBedCounty(county_name, state_name)
            populated_entities.append(bed)
            populated_entities.append(county_name + ', ' + state_abbreviation)
    c.execute(query)
    result = c.fetchall()

    
    
    #if result[0][0] == None: 
    #    continue
    if real_question in question_key.keys():
        continue
    else:
        print(count)
        print(question_template)
        print(sql_template)
        print(real_question)
        print(query)
        print(result)
        question_key[real_question] = True
        output[count].append({'question_template_id' : question_template_id, 'question_template' : question_template, 
        'entities' : ['Bed Entity', 'Location Entity'], 'question' : real_question, 
        'populated_entities': populated_entities, 'query_template' : sql_template, 'query' :  query, 'database': 'database 3'})
        count = count + 1
#print(output)

['(Province)', '(Province), (Country)', '(Province) in (Country)', '(County), (State)', '(County) in (State)', 'in the state of (State)', '(County), (State Abbreviation)', '(State)', '(State Abbreviation)', '(State), (Country)', '(Country)', 'the country of (Country)', 'in the world/around the world', 'globally']
1
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Orange, NC?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "North Carolina" and COUNTY_Name = "Orange"
[(1006,)]
2
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in CA?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
3
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in Illinois?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
4
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Wilbarger in Texas?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Texas" and COUNTY_Name = "Wilbarger"
[(28,)]
5
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in KS?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
6
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in Ohio?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
7
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Outagamie, Wisconsin?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Wisconsin" and COUNTY_Name = "Outagamie"
[(466,)]
8
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in Louisiana?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
9
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Gladwin in Michigan?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Michigan" and COUNTY_Name = "Gladwin"
[(25,)]
10
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in Iowa?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
11
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Loudoun in Virginia?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Virginia" and COUNTY_Name = "Loudoun"
[(451,)]
12
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in VI?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
13
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Washington, IL?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Illinois" and COUNTY_Name = "Washington"
[(22,)]
14
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in McLean, Illinois?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Illinois" and COUNTY_Name = "McLean"
[(343,)]
15
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Lake, MN?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Minnesota" and COUNTY_Name = "Lake"
[(25,)]
16
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of Alabama?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
17
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Clay, Alabama?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Alabama" and COUNTY_Name = "Clay"
[(4,)]
18
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Forest, Pennsylvania?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Pennsylvania" and COUNTY_Name = "Forest"
[(None,)]
19
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in the state of Maine?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
20
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of Northern Mariana Islands?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
21
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Huntingdon, PA?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Pennsylvania" and COUNTY_Name = "Huntingdon"
[(57,)]
22
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in KY?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
23
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in the state of Colorado?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
24
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Madison, TN?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Tennessee" and COUNTY_Name = "Madison"
[(89,)]
25
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Green, KY?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Kentucky" and COUNTY_Name = "Green"
[(35,)]
26
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in WV?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
27
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in DeSoto in Mississippi?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Mississippi" and COUNTY_Name = "DeSoto"
[(514,)]
28
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in OK?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
29
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in Florida?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
30
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of Arkansas?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
31
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Cook in Minnesota?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Minnesota" and COUNTY_Name = "Cook"
[(16,)]
32
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in GA?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
33
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Newton in Indiana?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Indiana" and COUNTY_Name = "Newton"
[(None,)]
34
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Delaware in Ohio?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Ohio" and COUNTY_Name = "Delaware"
[(124,)]
35
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Massac, Illinois?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Illinois" and COUNTY_Name = "Massac"
[(4,)]
36
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Drew, AR?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Arkansas" and COUNTY_Name = "Drew"
[(5,)]
37
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in District of Columbia?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
38
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Rusk, Texas?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Texas" and COUNTY_Name = "Rusk"
[(41,)]
39
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Wright, Missouri?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Missouri" and COUNTY_Name = "Wright"
[(None,)]
40
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Izard in Arkansas?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Arkansas" and COUNTY_Name = "Izard"
[(25,)]
41
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Glasscock, TX?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Texas" and COUNTY_Name = "Glasscock"
[(None,)]
42
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of Idaho?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
43
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Jackson in Oklahoma?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Oklahoma" and COUNTY_Name = "Jackson"
[(6,)]
44
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Kleberg, TX?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Texas" and COUNTY_Name = "Kleberg"
[(50,)]
45
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Butler in Alabama?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Alabama" and COUNTY_Name = "Butler"
[(44,)]
46
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in Idaho?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
47
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Whitley, Kentucky?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Kentucky" and COUNTY_Name = "Whitley"
[(280,)]
48
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Black Hawk in Iowa?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "Iowa" and COUNTY_Name = "Black Hawk"
[(384,)]
49
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Archer in Texas?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Texas" and COUNTY_Name = "Archer"
[(None,)]
50
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in KY?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
51
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in PA?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
52
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in SD?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
53
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Marion, KS?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Kansas" and COUNTY_Name = "Marion"
[(25,)]
54
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Ohio, Kentucky?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Kentucky" and COUNTY_Name = "Ohio"
[(25,)]
55
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in New York?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
56
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in IA?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
57
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Lexington in South Carolina?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "South Carolina" and COUNTY_Name = "Lexington"
[(39,)]
58
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in UT?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
59
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in the state of Virginia?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
60
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in St. Joseph, Michigan?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Michigan" and COUNTY_Name = "St. Joseph"
[(13,)]
61
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Marshall in West Virginia?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "West Virginia" and COUNTY_Name = "Marshall"
[(70,)]
62
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Aurora in South Dakota?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "South Dakota" and COUNTY_Name = "Aurora"
[(None,)]
63
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in Oregon?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
64
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in SD?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
65
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Page in Virginia?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Virginia" and COUNTY_Name = "Page"
[(25,)]
66

75
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Macon, Tennessee?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Tennessee" and COUNTY_Name = "Macon"
[(25,)]
76
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in PR?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
77
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in DC?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
78
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in the state of North Carolina?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
79
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in West Virginia?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
80
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Newberry, SC?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "South Carolina" and COUNTY_Name = "Newberry"
[(7,)]
81
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in New Jersey?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
82
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in NJ?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
83
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of Pennsylvania?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
84
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in the state of Indiana?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
85
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Oswego in New York?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "New York" and COUNTY_Name = "Oswego"
[(132,)]
86
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in Colorado?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
87
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of licensed beds in AK?
Select Sum(NUM_LICENSED_BEDS) From db3 Where STATE_Name = "licensed beds"
[(None,)]
88
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in Forsyth in North Carolina?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "North Carolina" and COUNTY_Name = "Forsyth"
[(1940,)]
89
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of New Hampshire?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
90
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in DC?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
91
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in New Mexico?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
92
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in Tennessee?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
93
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of staffed beds in the state of Alabama?
Select Sum(NUM_STAFFED_BEDS) From db3 Where STATE_Name = "staffed beds"
[(None,)]
94
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in MN?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
95
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in Hawaii?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
96
What is the number of (Bed Entity) in (State Entity)?
Select Sum(Bed Entity Column) From db3 Where STATE_Name = "State Entity"
What is the number of ICU beds in the state of Guam?
Select Sum(NUM_ICU_BEDS) From db3 Where STATE_Name = "ICU beds"
[(None,)]
97
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of licensed beds in Tallapoosa, AL?
Select SUM(NUM_LICENSED_BEDS) from db3 where STATE_Name = "Alabama" and COUNTY_Name = "Tallapoosa"
[(127,)]
98
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of staffed beds in McDowell in West Virginia?
Select SUM(NUM_STAFFED_BEDS) from db3 where STATE_Name = "West Virginia" and COUNTY_Name = "McDowell"
[(49,)]
99
What is the number of (Bed Entity) in (County Entity) (State Entity)?
Select SUM(Bed Entity Column) from db3 where STATE_Name = "State Entity" and COUNTY_Name = "County Entity"
What is the number of ICU beds in Washita, Oklahoma?
Select SUM(NUM_ICU_BEDS) from db3 where STATE_Name = "Oklahoma" and COUNTY_Name = "Washita"
[(2,)]

In [4]:
 sql_template = 'Select Sum(NUM_Licensed/Staffed/ICU_Beds) From table name Where STATE_Name/COUNTY_Name = input' 
 c_name = 'Maricopa'
 s_name = 'Arizona'
 query = sql_template.replace("NUM_Licensed/Staffed/ICU_Beds", "NUM_STAFFED_BEDS")
 query = query.replace("STATE_Name/COUNTY_Name = input", "COUNTY_NAME = " + c_name)
 query = query + " AND STATE_NAME = " + s_name
print(query)

Select Sum(NUM_STAFFED_BEDS) From table name Where COUNTY_NAME = Maricopa AND STATE_NAME = Arizona

In [25]:
key_list = list(state_dict.keys())
val_list = list(state_dict.values())
print(key_list[val_list.index('Virginia')])

VA

In [5]:
with open('db3q1data.json', 'w') as outfile: 
    json.dump(output,outfile)