In [1]:
import sqlite3
import pandas as pd
import numpy as np

conn = sqlite3.connect("tapasQA.db")
c = conn.cursor()

In [2]:
import json

In [3]:
import json
with open('natural_question.json') as f: 
    data = json.load(f)
len(data)

5249

In [ ]:
#2q2
with open("2q2data.json") as f: 
    tapas_data = json.load(f)
len(tapas_data)
print(tapas_data)

{'Which state has the highest number of people Cumulatively hospitalized?': 'AK, AL', 'Which state has the lowest number of people Cumulatively hospitalized?': 'SC, AL, PR', 'Which state has the most number of people Cumulatively hospitalized?': 'AK, PR', 'Which state has the least number of people Cumulatively hospitalized?': 'KY, SC, PR', 'Which state has the highest number of people Currently hospitalized?': 'VI', 'Which state has the lowest number of people Currently hospitalized?': 'GU', 'Which state has the most number of people Currently hospitalized?': 'GA', 'Which state has the least number of people Currently hospitalized?': 'GU', 'Which state has the highest number of people Currently in ICU?': 'CA', 'Which state has the lowest number of people Currently in ICU?': 'GU', 'Which state has the most number of people Currently in ICU?': 'CA', 'Which state has the least number of people Currently in ICU?': 'GU', 'Which state has the highest number of people Cumulatively in ICU?': 'AL', 'Which state has the lowest number of people Cumulatively in ICU?': 'KY, AL, ID', 'Which state has the most number of people Cumulatively in ICU?': 'KY, AL', 'Which state has the least number of people Cumulatively in ICU?': 'KY', 'Which state has the highest number of people Cumulatively on ventilators?': 'AL', 'Which state has the lowest number of people Cumulatively on ventilators?': 'AL', 'Which state has the most number of people Cumulatively on ventilators?': 'PA, AL, AR, OK', 'Which state has the least number of people Cumulatively on ventilators?': 'AL', 'Which state has the highest number of people Currently on ventilators?': 'AK', 'Which state has the lowest number of people Currently on ventilators?': 'OH, PA, PR', 'Which state has the most number of people Currently on ventilators?': 'AK, PA, PR', 'Which state has the least number of people Currently on ventilators?': 'OH, KY, PA, PR'}

In [ ]:
count = 0
correct = 0

for i in range(len(data)):
    if data[str(i+1)][0]['question_template_id'] == '2q2':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        print(q)
        query = data[str(i+1)][0]['sql']
        query = query.replace("20210426", "20210307")
        print(query)
        print(tapas_data[q])
        c.execute(query)
        res = c.fetchall()
        temp = tapas_data[q].split(", ")
        print(res)
        print(temp)
        check = False
        for i in temp: 
            if i == res[0][0]: 
                check = True
        if check == True: 
            correct +=1
            print("Correct")
            
        count+= 1
print(correct)
print(correct * 100.0/count)

Which state has the highest number of people Currently in ICU?
Select state from db2state where date = '20210307' and inICUCurrently is not null order by inICUCurrently desc limit 0, 1
CA
[('TX',)]
['CA']
Which state has the highest number of people Cumulatively in ICU?
Select state from db2state where date = '20210307' and inICUCumulative is not null order by inICUCumulative desc limit 0, 1
AL
[('GA',)]
['AL']
Which state has the highest number of people Currently on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCurrently is not null order by onVentilatorCurrently desc limit 0, 1
AK
[('NY',)]
['AK']
Which state has the highest number of people Cumulatively on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCumulative is not null order by onVentilatorCumulative desc limit 0, 1
AL
[('AR',)]
['AL']
Which state has the highest number of people Currently hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCurrently is not null order by hospitalizedCurrently desc limit 0, 1
VI
[('NY',)]
['VI']
Which state has the highest number of people Cumulatively hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null order by hospitalizedCumulative desc limit 0, 1
AK, AL
[('FL',)]
['AK', 'AL']
Which state has the lowest number of people Currently in ICU?
Select state from db2state where date = '20210307' and inICUCurrently is not null order by inICUCurrently asc limit 0, 1
GU
[('GU',)]
['GU']
Correct
Which state has the lowest number of people Cumulatively in ICU?
Select state from db2state where date = '20210307' and inICUCumulative is not null order by inICUCumulative asc limit 0, 1
KY, AL, ID
[('NH',)]
['KY', 'AL', 'ID']
Which state has the lowest number of people Currently on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCurrently is not null order by onVentilatorCurrently asc limit 0, 1
OH, PA, PR
[('GU',)]
['OH', 'PA', 'PR']
Which state has the lowest number of people Cumulatively on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCumulative is not null order by onVentilatorCumulative asc limit 0, 1
AL
[('KS',)]
['AL']
Which state has the lowest number of people Currently hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCurrently is not null order by hospitalizedCurrently asc limit 0, 1
GU
[('GU',)]
['GU']
Correct
Which state has the lowest number of people Cumulatively hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null order by hospitalizedCumulative asc limit 0, 1
SC, AL, PR
[('MP',)]
['SC', 'AL', 'PR']
Which state has the most number of people Currently in ICU?
Select state from db2state where date = '20210307' and inICUCurrently is not null order by inICUCurrently desc limit 0, 1
CA
[('TX',)]
['CA']
Which state has the most number of people Cumulatively in ICU?
Select state from db2state where date = '20210307' and inICUCumulative is not null order by inICUCumulative desc limit 0, 1
KY, AL
[('GA',)]
['KY', 'AL']
Which state has the most number of people Currently on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCurrently is not null order by onVentilatorCurrently desc limit 0, 1
AK, PA, PR
[('NY',)]
['AK', 'PA', 'PR']
Which state has the most number of people Cumulatively on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCumulative is not null order by onVentilatorCumulative desc limit 0, 1
PA, AL, AR, OK
[('AR',)]
['PA', 'AL', 'AR', 'OK']
Correct
Which state has the most number of people Currently hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCurrently is not null order by hospitalizedCurrently desc limit 0, 1
GA
[('NY',)]
['GA']
Which state has the most number of people Cumulatively hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null order by hospitalizedCumulative desc limit 0, 1
AK, PR
[('FL',)]
['AK', 'PR']
Which state has the least number of people Currently in ICU?
Select state from db2state where date = '20210307' and inICUCurrently is not null order by inICUCurrently asc limit 0, 1
GU
[('GU',)]
['GU']
Correct
Which state has the least number of people Cumulatively in ICU?
Select state from db2state where date = '20210307' and inICUCumulative is not null order by inICUCumulative asc limit 0, 1
KY
[('NH',)]
['KY']
Which state has the least number of people Currently on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCurrently is not null order by onVentilatorCurrently asc limit 0, 1
OH, KY, PA, PR
[('GU',)]
['OH', 'KY', 'PA', 'PR']
Which state has the least number of people Cumulatively on ventilators?
Select state from db2state where date = '20210307' and onVentilatorCumulative is not null order by onVentilatorCumulative asc limit 0, 1
AL
[('KS',)]
['AL']
Which state has the least number of people Currently hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCurrently is not null order by hospitalizedCurrently asc limit 0, 1
GU
[('GU',)]
['GU']
Correct
Which state has the least number of people Cumulatively hospitalized?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null order by hospitalizedCumulative asc limit 0, 1
KY, SC, PR
[('MP',)]
['KY', 'SC', 'PR']
5
20.833333333333332

In [ ]:
#2q3

with open("2q3data.json") as f: 
    tapas_data2 = json.load(f)

print(tapas_data2)
print(len(tapas_data2))
with open("2q3part2data.json") as f: 
    tapas_data3 = json.load(f)
tapas_data2.update(tapas_data3)
len(tapas_data2)

{'How many people are Cumulatively hospitalized in West Virginia?': 'nan, 35651.0, nan, nan, 1570.0, 19457.0, nan, 25978.0, 24332.0', 'How many people are Cumulatively hospitalized in New Mexico?': 'nan, nan, 56797.0, 19713.0, nan, nan, 23904.0, 4.0, 89995.0, 12257.0, nan, nan, 35651.0, 9020.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, nan, nan, 2226.0, nan, 9387.0, 24661.0, 19457.0, nan, 64396.0, 57907.0, nan, 13252.0, 6705.0, 7184.0, nan, nan, nan, nan, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0', 'How many people are Cumulatively hospitalized in Wyoming?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in Tennessee?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Indiana?': '25978.0, 19457.0, 1570.0', 'How many people are Cumulatively hospitalized in District of Columbia?': 'nan, nan, 19599.0, 56797.0, 19713.0, nan, nan, 23904.0, 4.0, 89995.0, 6237.0, 12257.0, nan, 45976.0, nan, 35651.0, 9020.0, 26457.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, nan, nan, 2226.0, nan, 9387.0, 1391.0, 24661.0, 19457.0, 4630.0, nan, 64396.0, 57907.0, nan, 13252.0, 6705.0, 8714.0, 7184.0, nan, nan, nan, nan, nan, 3880.0, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0', 'How many people are Cumulatively hospitalized in Arizona?': '57907.0', 'How many people are Cumulatively hospitalized in South Carolina?': 'nan, nan, 19713.0, 12257.0, nan, 35651.0, 1570.0, 24332.0, nan, 9387.0, 19457.0, nan, 6705.0, nan, nan, nan, nan, 25978.0, 18870.0, 82237.0', 'How many people are Cumulatively hospitalized in Wisconsin?': '25978.0, 19457.0, 1570.0', 'How many people are Cumulatively hospitalized in Oregon?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in Massachusetts?': '19713.0', 'How many people are Cumulatively hospitalized in Colorado?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in Illinois?': '25978.0, 19457.0, nan, 1570.0', 'How many people are Cumulatively hospitalized in Arkansas?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Ohio?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Louisiana?': '35651.0, nan, 1570.0, 19457.0, 25978.0', 'How many people are Cumulatively hospitalized in Michigan?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Georgia?': '25978.0, 56797.0, 1570.0', 'How many people are Cumulatively hospitalized in Guam?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in Virginia?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Rhode Island?': '35651.0, 19713.0, 1570.0, 25978.0, 82237.0', 'How many people are Cumulatively hospitalized in Montana?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Iowa?': '25978.0, 19457.0, 1570.0', 'How many people are Cumulatively hospitalized in Pennsylvania?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Washington?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Minnesota?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in Virgin Islands?': 'nan, nan, 56797.0, 19713.0, 23904.0, 4.0, 89995.0, 12257.0, nan, nan, 35651.0, 9020.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, 2226.0, nan, 9387.0, 24661.0, 19457.0, nan, 57907.0, nan, 13252.0, 6705.0, 8714.0, 7184.0, nan, nan, nan, nan, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0', 'How many people are Cumulatively hospitalized in Alabama?': '45976.0', 'How many people are Cumulatively hospitalized in Vermont?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in South Dakota?': 'nan, nan, 56797.0, 19713.0, 23904.0, 12257.0, nan, 35651.0, 1570.0, 43217.0, 24332.0, 20725.0, 2226.0, nan, 9387.0, 24661.0, 19457.0, nan, nan, 6705.0, 7184.0, nan, nan, nan, nan, 25978.0, 18870.0, nan, 82237.0', 'How many people are Cumulatively hospitalized in Missouri?': '35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Delaware?': '35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Texas?': '25978.0, 19457.0, 1570.0', 'How many people are Cumulatively hospitalized in Alaska?': '25978.0, 1293.0, 1570.0', 'How many people are Cumulatively hospitalized in North Carolina?': 'nan, 35651.0, 2226.0, 6705.0, nan, 9387.0, nan, nan, nan, 19713.0, 1570.0, 19457.0, nan, nan, 25978.0, 18870.0, 24332.0, 82237.0', 'How many people are Cumulatively hospitalized in Utah?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Nebraska?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in Hawaii?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Mississippi?': '56797.0', 'How many people are Cumulatively hospitalized in Northern Mariana Islands?': 'nan, nan, 19599.0, 56797.0, 19713.0, nan, nan, 23904.0, 4.0, 89995.0, 6237.0, 12257.0, nan, 45976.0, nan, 35651.0, 9020.0, 26457.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, nan, nan, 2226.0, nan, 9387.0, 1391.0, 24661.0, 19457.0, 4630.0, nan, 57907.0, nan, 13252.0, 6705.0, 8714.0, 7184.0, nan, nan, nan, nan, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0', 'How many people are Cumulatively hospitalized in Florida?': '56797.0, 1570.0, 19457.0, 25978.0, 82237.0', 'How many people are Cumulatively hospitalized in North Dakota?': 'nan, nan, 56797.0, 19713.0, nan, 23904.0, 12257.0, nan, nan, 35651.0, 9020.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 20725.0, nan, 2226.0, 9387.0, 24661.0, 19457.0, nan, nan, 13252.0, 6705.0, 7184.0, nan, nan, nan, nan, 25978.0, 18870.0, nan, 82237.0', 'How many people are Cumulatively hospitalized in New Jersey?': 'nan, nan, 19599.0, 56797.0, 19713.0, nan, nan, 23904.0, 4.0, 89995.0, 6237.0, 12257.0, nan, 45976.0, nan, 35651.0, 9020.0, 26457.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, nan, nan, 2226.0, nan, 9387.0, 1391.0, 24661.0, 19457.0, 4630.0, nan, 64396.0, 57907.0, nan, 13252.0, 6705.0, 8714.0, 7184.0, nan, nan, nan, nan, nan, 3880.0, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0', 'How many people are Cumulatively hospitalized in Idaho?': '25978.0, 1570.0', 'How many people are Cumulatively hospitalized in New York?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Connecticut?': '12257.0', 'How many people are Cumulatively hospitalized in Oklahoma?': '25978.0, 19457.0, 1570.0', 'How many people are Cumulatively hospitalized in Kentucky?': '19457.0', 'How many people are Cumulatively hospitalized in Maine?': '25978.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in New Hampshire?': 'nan, nan, 56797.0, 19713.0, nan, 23904.0, 4.0, 89995.0, 12257.0, nan, nan, 35651.0, 9020.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, nan, nan, 2226.0, nan, 9387.0, 24661.0, 19457.0, nan, 57907.0, nan, 13252.0, 6705.0, 8714.0, 7184.0, nan, nan, nan, nan, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0', 'How many people are Cumulatively hospitalized in Kansas?': '9387.0', 'How many people are Cumulatively hospitalized in Nevada?': '25978.0, 19457.0, 35651.0, 1570.0', 'How many people are Cumulatively hospitalized in Maryland?': '35651.0', 'How many people are Cumulatively hospitalized in California?': 'nan', 'How many people are Currently hospitalized in West Virginia?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in New Mexico?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Wyoming?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Tennessee?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Indiana?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in District of Columbia?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Arizona?': '963.0', 'How many people are Currently hospitalized in South Carolina?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Wisconsin?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Oregon?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Massachusetts?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Colorado?': '4721.0, 1587.0, 2008.0, 1141.0, 955.0, nan, 4789.0, 428.0, 494.0, 2.0, 141.0, 212.0, 67.0, 335.0, 579.0, 1127.0, 866.0, 167.0, 72.0, 150.0, nan, 224.0, 851.0, 4291.0, 3307.0', 'How many people are Currently hospitalized in Illinois?': '1141.0', 'How many people are Currently hospitalized in Arkansas?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Ohio?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Louisiana?': '4721.0, 1587.0, 431.0, 2008.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 1127.0, 558.0, 866.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 31.0, 224.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Michigan?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Georgia?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Guam?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Virginia?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Rhode Island?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Montana?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Iowa?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Pennsylvania?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Washington?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Minnesota?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Virgin Islands?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Alabama?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Vermont?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in South Dakota?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0', 'How many people are Currently hospitalized in Missouri?': '4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 42

324

In [ ]:
count = 0
correct = 0 
for i in range(len(data)):
    if data[str(i+1)][0]['question_template_id'] == '2q3':
        q = data[str(i+1)][0]['question']
        query = data[str(i+1)][0]['sql']
        query = query.replace("20210426", "20210307")
        print(q)
        print(query)
        print(tapas_data2[q])
        c.execute(query)
        res = c.fetchall()
        temp = tapas_data2[q].split(", ")
        print(res[0][0])
        print(temp)
        check = False
        count1 = 0
        for i in temp: 
            if count1 >= 5:
                break
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
            count1 +=1
        if check == True: 
            correct += 1
            print("Correct")
            
        count  +=1
print(correct)
print(correct * 100.0/count)
print(count)

How many people are Currently in ICU in Ohio?
Select inICUCurrently from db2State where date = '20210307' and state = "OH"
No Response
260.0
['No Response']
How many people are Cumulatively in ICU in Ohio?
Select inICUCumulative from db2State where date = '20210307' and state = "OH"
SC, MO, DC, MS, MN, MI, MD, KY
7207.0
['SC', 'MO', 'DC', 'MS', 'MN', 'MI', 'MD', 'KY']
How many people are Currently on ventilators in Ohio?
Select onVentilatorCurrently from db2State where date = '20210307' and state = "OH"
nan, 183.0, 43.0, nan, 116.0, 112.0, 135.0, nan, nan, 682.0, nan, nan, 19.0, nan, 1.0, nan, 16.0, nan, nan, 8.0, 50.0, 47.0, 171.0, 65.0, nan, nan, 83.0, nan, 26.0, 3.0, 16.0, 22.0, nan, 168.0, 82.0, 6.0, 97.0, 232.0, 143.0, 6.0, nan, 6.0, 12.0, nan, nan, nan, 75.0, nan, nan, nan, nan, 48.0, 127.0, nan, 2.0, nan
171.0
['nan', '183.0', '43.0', 'nan', '116.0', '112.0', '135.0', 'nan', 'nan', '682.0', 'nan', 'nan', '19.0', 'nan', '1.0', 'nan', '16.0', 'nan', 'nan', '8.0', '50.0', '47.0', '171.0', '65.0', 'nan', 'nan', '83.0', 'nan', '26.0', '3.0', '16.0', '22.0', 'nan', '168.0', '82.0', '6.0', '97.0', '232.0', '143.0', '6.0', 'nan', '6.0', '12.0', 'nan', 'nan', 'nan', '75.0', 'nan', 'nan', 'nan', 'nan', '48.0', '127.0', 'nan', '2.0', 'nan']
How many people are Cumulatively on ventilators in Ohio?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "OH"
1515.0
None
['1515.0']
How many people are Currently hospitalized in Ohio?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "OH"
4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0
820.0
['4721.0', '1587.0', '431.0', '2008.0', '665.0', '1141.0', '955.0', '326.0', 'nan', '4789.0', '137.0', '428.0', '134.0', '494.0', '2.0', '818.0', '141.0', '249.0', '212.0', '67.0', '656.0', '419.0', '820.0', '335.0', '346.0', '68.0', '579.0', '179.0', '27.0', '150.0', '235.0', '21.0', '1127.0', '558.0', '866.0', '1792.0', '963.0', '167.0', '169.0', '72.0', '158.0', '150.0', 'nan', '104.0', '532.0', '1179.0', '31.0', '224.0', '399.0', '851.0', '4291.0', '33.0', '3307.0']
How many people are Cumulatively hospitalized in Ohio?
Select hospitalizedCumulative from db2State where date = '20210307' and state = "OH"
25978.0, 19457.0, 35651.0, 1570.0
50881.0
['25978.0', '19457.0', '35651.0', '1570.0']
How many people are Currently in ICU in New Mexico?
Select inICUCurrently from db2State where date = '20210307' and state = "NM"
1463.0, 255.0, 16.0, 258.0, 260.0, 999.0, 218.0, 1159.0, 100.0
None
['1463.0', '255.0', '16.0', '258.0', '260.0', '999.0', '218.0', '1159.0', '100.0']
How many people are Cumulatively in ICU in New Mexico?
Select inICUCumulative from db2State where date = '20210307' and state = "NM"
No Response
None
['No Response']
How many people are Currently on ventilators in New Mexico?
Select onVentilatorCurrently from db2State where date = '20210307' and state = "NM"
nan, 183.0, 43.0, nan, 116.0, 112.0, 135.0, nan, nan, 682.0, nan, nan, 19.0, nan, 1.0, nan, 16.0, nan, nan, 8.0, 50.0, 47.0, 171.0, 65.0, nan, nan, 83.0, nan, 26.0, 3.0, 16.0, 22.0, nan, 168.0, 82.0, 6.0, 97.0, 232.0, 143.0, 6.0, nan, 6.0, 12.0, nan, nan, nan, 75.0, nan, nan, nan, nan, 48.0, 127.0, nan, 2.0, nan
None
['nan', '183.0', '43.0', 'nan', '116.0', '112.0', '135.0', 'nan', 'nan', '682.0', 'nan', 'nan', '19.0', 'nan', '1.0', 'nan', '16.0', 'nan', 'nan', '8.0', '50.0', '47.0', '171.0', '65.0', 'nan', 'nan', '83.0', 'nan', '26.0', '3.0', '16.0', '22.0', 'nan', '168.0', '82.0', '6.0', '97.0', '232.0', '143.0', '6.0', 'nan', '6.0', '12.0', 'nan', 'nan', 'nan', '75.0', 'nan', 'nan', 'nan', 'nan', '48.0', '127.0', 'nan', '2.0', 'nan']
Correct
How many people are Cumulatively on ventilators in New Mexico?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "NM"
nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1515.0, nan, nan, nan, nan, 822.0, nan, nan, nan, 1533.0, nan, nan, nan, nan, nan, nan, 411.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '1515.0', 'nan', 'nan', 'nan', 'nan', '822.0', 'nan', 'nan', 'nan', '1533.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '411.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many people are Currently hospitalized in New Mexico?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "NM"
4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0
169.0
['4721.0', '1587.0', '431.0', '2008.0', '665.0', '1141.0', '955.0', '326.0', 'nan', '4789.0', '137.0', '428.0', '134.0', '494.0', '2.0', '818.0', '141.0', '249.0', '212.0', '67.0', '656.0', '419.0', '820.0', '335.0', '346.0', '68.0', '579.0', 'nan', '179.0', '27.0', '150.0', '235.0', '21.0', '1127.0', '558.0', '63.0', '866.0', '1792.0', '963.0', '167.0', '169.0', '72.0', '158.0', '150.0', 'nan', '104.0', '532.0', '1179.0', '31.0', '23.0', '224.0', '399.0', '851.0', '4291.0', '33.0', '3307.0']
How many people are Cumulatively hospitalized in New Mexico?
Select hospitalizedCumulative from db2State where date = '20210307' and state = "NM"
nan, nan, 56797.0, 19713.0, nan, nan, 23904.0, 4.0, 89995.0, 12257.0, nan, nan, 35651.0, 9020.0, 14891.0, 1570.0, 43217.0, 9162.0, 50881.0, 14926.0, 24332.0, 1131.0, 20725.0, nan, nan, 2226.0, nan, 9387.0, 24661.0, 19457.0, nan, 64396.0, 57907.0, nan, 13252.0, 6705.0, 7184.0, nan, nan, nan, nan, 25978.0, nan, 18870.0, nan, 1293.0, 82237.0
13252.0
['nan', 'nan', '56797.0', '19713.0', 'nan', 'nan', '23904.0', '4.0', '89995.0', '12257.0', 'nan', 'nan', '35651.0', '9020.0', '14891.0', '1570.0', '43217.0', '9162.0', '50881.0', '14926.0', '24332.0', '1131.0', '20725.0', 'nan', 'nan', '2226.0', 'nan', '9387.0', '24661.0', '19457.0', 'nan', '64396.0', '57907.0', 'nan', '13252.0', '6705.0', '7184.0', 'nan', 'nan', 'nan', 'nan', '25978.0', 'nan', '18870.0', 'nan', '1293.0', '82237.0']
How many people are Currently in ICU in Wisconsin?
Select inICUCurrently from db2State where date = '20210307' and state = "WI"
1159.0, 999.0, 16.0
66.0
['1159.0', '999.0', '16.0']
How many people are Cumulatively in ICU in Wisconsin?
Select inICUCumulative from db2State where date = '20210307' and state = "WI"
SD, GU, AR, UT, MS, MN, KS, DC, NJ, IA, GA, MI, AZ, AL, WI, LA, RI, FL, ME, NH, MO, OK, IL, MD, KY
2273.0
['SD', 'GU', 'AR', 'UT', 'MS', 'MN', 'KS', 'DC', 'NJ', 'IA', 'GA', 'MI', 'AZ', 'AL', 'WI', 'LA', 'RI', 'FL', 'ME', 'NH', 'MO', 'OK', 'IL', 'MD', 'KY']
How many people are Currently on ventilators in Wisconsin?
Select onVentilatorCurrently from db2State where date = '20210307' and state = "WI"
nan, 183.0, 43.0, nan, 116.0, 112.0, 135.0, nan, nan, 682.0, nan, nan, 19.0, nan, 1.0, nan, 16.0, nan, nan, 8.0, 50.0, 47.0, 171.0, 65.0, nan, nan, 83.0, nan, 26.0, 3.0, 16.0, 22.0, nan, 168.0, 82.0, 6.0, 97.0, 232.0, 143.0, 6.0, nan, 6.0, 12.0, nan, nan, nan, 75.0, nan, nan, nan, nan, 48.0, 127.0, nan, 2.0, nan
None
['nan', '183.0', '43.0', 'nan', '116.0', '112.0', '135.0', 'nan', 'nan', '682.0', 'nan', 'nan', '19.0', 'nan', '1.0', 'nan', '16.0', 'nan', 'nan', '8.0', '50.0', '47.0', '171.0', '65.0', 'nan', 'nan', '83.0', 'nan', '26.0', '3.0', '16.0', '22.0', 'nan', '168.0', '82.0', '6.0', '97.0', '232.0', '143.0', '6.0', 'nan', '6.0', '12.0', 'nan', 'nan', 'nan', '75.0', 'nan', 'nan', 'nan', 'nan', '48.0', '127.0', 'nan', '2.0', 'nan']
Correct
How many people are Cumulatively on ventilators in Wisconsin?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "WI"
nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1515.0, nan, nan, nan, nan, 822.0, nan, nan, nan, nan, 1533.0, nan, nan, nan, nan, nan, nan, nan, 411.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '1515.0', 'nan', 'nan', 'nan', 'nan', '822.0', 'nan', 'nan', 'nan', 'nan', '1533.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '411.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many people are Currently hospitalized in Wisconsin?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "WI"
4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0
249.0
['4721.0', '1587.0', '431.0', '2008.0', '665.0', '1141.0', '955.0', '326.0', 'nan', '4789.0', '137.0', '428.0', '134.0', '494.0', '2.0', '818.0', '141.0', '249.0', '212.0', '67.0', '656.0', '419.0', '820.0', '335.0', '346.0', '68.0', '579.0', 'nan', '179.0', '27.0', '150.0', '235.0', '21.0', '1127.0', '558.0', '63.0', '866.0', '1792.0', '963.0', '167.0', '169.0', '72.0', '158.0', '150.0', 'nan', '104.0', '532.0', '1179.0', '31.0', '23.0', '224.0', '399.0', '851.0', '4291.0', '33.0', '3307.0']
How many people are Cumulatively hospitalized in Wisconsin?
Select hospitalizedCumulative from db2State where date = '20210307' and state = "WI"
25978.0, 19457.0, 1570.0
26457.0
['25978.0', '19457.0', '1570.0']
How many people are Currently in ICU in South Dakota?
Select inICUCurrently from db2State where date = '20210307' and state = "SD"
1463.0, 255.0, 16.0, 258.0, 1.0, 260.0, 999.0, 273.0, 1159.0, 100.0
9.0
['1463.0', '255.0', '16.0', '258.0', '1.0', '260.0', '999.0', '273.0', '1159.0', '100.0']
How many people are Cumulatively in ICU in South Dakota?
Select inICUCumulative from db2State where date = '20210307' and state = "SD"
SD, MP, OK, DC, IL, MS, MN, ME, MI, MD, KY, AL, KS
None
['SD', 'MP', 'OK', 'DC', 'IL', 'MS', 'MN', 'ME', 'MI', 'MD', 'KY', 'AL', 'KS']
How many people are Currently on ventilators in South Dakota?
Select onVentilatorCurrently from db2State where date = '20210307' and state = "SD"
nan, 183.0, 43.0, nan, 116.0, 112.0, 135.0, nan, nan, 682.0, nan, nan, 19.0, nan, 1.0, nan, 16.0, nan, nan, 8.0, 50.0, 47.0, 171.0, 65.0, nan, nan, 83.0, nan, 26.0, 3.0, 16.0, 22.0, nan, 168.0, 82.0, 6.0, 97.0, 232.0, 143.0, 6.0, nan, 6.0, 12.0, nan, nan, nan, 75.0, nan, nan, nan, nan, 48.0, 127.0, nan, 2.0, nan
6.0
['nan', '183.0', '43.0', 'nan', '116.0', '112.0', '135.0', 'nan', 'nan', '682.0', 'nan', 'nan', '19.0', 'nan', '1.0', 'nan', '16.0', 'nan', 'nan', '8.0', '50.0', '47.0', '171.0', '65.0', 'nan', 'nan', '83.0', 'nan', '26.0', '3.0', '16.0', '22.0', 'nan', '168.0', '82.0', '6.0', '97.0', '232.0', '143.0', '6.0', 'nan', '6.0', '12.0', 'nan', 'nan', 'nan', '75.0', 'nan', 'nan', 'nan', 'nan', '48.0', '127.0', 'nan', '2.0', 'nan']
How many people are Cumulatively on ventilators in South Dakota?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "SD"
1515.0, 411.0
None
['1515.0', '411.0']
How many people are Currently hospitalized in South Dakota?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "SD"
4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0
72.0
['4721.0', '1587.0', '431.0', '2008.0', '665.0', '1141.0', '955.0', '326.0', 'nan', '4789.0', '137.0', '428.0', '134.0', '494.0', '2.0', '818.0', '141.0', '249.0', '212.0', '67.0', '656.0', '419.0', '820.0', '335.0', '346.0', '68.0', '579.0', 'nan', '179.0', '27.0', '150.0', '235.0', '21.0', '1127.0', '558.0', '63.0', '866.0', '1792.0', '963.0', '167.0', '169.0', '72.0', '158.0', '150.0', 'nan', '104.0', '532.0', '1179.0', '31.0', '23.0', '224.0', '399.0', '851.0', '4291.0', '33.0', '3307.0']
How many people are Cumulatively hospitalized in South Dakota?
Select hospitalizedCumulative from db2State where date = '20210307' and state = "SD"
nan, nan, 56797.0, 19713.0, 23904.0, 12257.0, nan, 35651.0, 1570.0, 43217.0, 24332.0, 20725.0, 2226.0, nan, 9387.0, 24661.0, 19457.0, nan, nan, 6705.0, 7184.0, nan, nan, nan, nan, 25978.0, 18870.0, nan, 82237.0
6705.0
['nan', 'nan', '56797.0', '19713.0', '23904.0', '12257.0', 'nan', '35651.0', '1570.0', '43217.0', '24332.0', '20725.0', '2226.0', 'nan', '9387.0', '24661.0', '19457.0', 'nan', 'nan', '6705.0', '7184.0', 'nan', 'nan', 'nan', 'nan', '25978.0', '18870.0', 'nan', '82237.0']
How many people are Currently in ICU in Indiana?
Select inICUCurrently from db2State where date = '20210307' and state = "IN"
999.0, 16.0
104.0
['999.0', '16.0']
How many people are Cumulatively in ICU in Indiana?
Select inICUCumulative from db2State where date = '20210307' and state = "IN"
GU, MO, DC, LA, NJ, IL, IA, GA, MS, MN, FL, MI, MD, KY, AL, KS
7600.0
['GU', 'MO', 'DC', 'LA', 'NJ', 'IL', 'IA', 'GA', 'MS', 'MN', 'FL', 'MI', 'MD', 'KY', 'AL', 'KS']
How many people are Currently on ventilators in Indiana?
Select onVentilatorCurrently from db2State where date = '20210307' and state = "IN"
nan, 183.0, 43.0, nan, 116.0, 112.0, 135.0, nan, nan, 682.0, nan, nan, 19.0, nan, 1.0, nan, 16.0, nan, nan, 8.0, 50.0, 47.0, 171.0, 65.0, nan, nan, 83.0, nan, 26.0, 3.0, 16.0, 22.0, nan, 168.0, 82.0, 6.0, 97.0, 232.0, 143.0, 6.0, nan, 6.0, 12.0, nan, nan, nan, 75.0, nan, nan, nan, nan, 48.0, 127.0, nan, 2.0, nan
50.0
['nan', '183.0', '43.0', 'nan', '116.0', '112.0', '135.0', 'nan', 'nan', '682.0', 'nan', 'nan', '19.0', 'nan', '1.0', 'nan', '16.0', 'nan', 'nan', '8.0', '50.0', '47.0', '171.0', '65.0', 'nan', 'nan', '83.0', 'nan', '26.0', '3.0', '16.0', '22.0', 'nan', '168.0', '82.0', '6.0', '97.0', '232.0', '143.0', '6.0', 'nan', '6.0', '12.0', 'nan', 'nan', 'nan', '75.0', 'nan', 'nan', 'nan', 'nan', '48.0', '127.0', 'nan', '2.0', 'nan']
How many people are Cumulatively on ventilators in Indiana?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "IN"
1515.0, 411.0
None
['1515.0', '411.0']
How many people are Currently hospitalized in Indiana?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "IN"
4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0
656.0
['4721.0', '1587.0', '431.0', '2008.0', '665.0', '1141.0', '955.0', '326.0', 'nan', '4789.0', '137.0', '428.0', '134.0', '494.0', '2.0', '818.0', '141.0', '249.0', '212.0', '67.0', '656.0', '419.0', '820.0', '335.0', '346.0', '68.0', '579.0', 'nan', '179.0', '27.0', '150.0', '235.0', '21.0', '1127.0', '558.0', '866.0', '1792.0', '963.0', '167.0', '169.0', '72.0', '158.0', '150.0', 'nan', '104.0', '532.0', '1179.0', '31.0', '23.0', '224.0', '399.0', '851.0', '4291.0', '33.0', '3307.0']
How many people are Cumulatively hospitalized in Indiana?
Select hospitalizedCumulative from db2State where date = '20210307' and state = "IN"
25978.0, 19457.0, 1570.0
43217.0
['25978.0', '19457.0', '1570.0']
How many people are Currently in ICU in Virgin Islands?
Select inICUCurrently from db2State where date = '20210307' and state = "VI"
1.0, 137.0, 1463.0, 66.0, 73.0, 16.0, 258.0, 1.0, 260.0, 999.0, 218.0, 1159.0, 100.0
None
['1.0', '137.0', '1463.0', '66.0', '73.0', '16.0', '258.0', '1.0', '260.0', '999.0', '218.0', '1159.0', '100.0']
How many people are Cumulatively in ICU in Virgin Islands?
Select inICUCumulative from db2State where date = '20210307' and state = "VI"
nan, nan, 9263.0, nan, nan, nan, 2676.0, nan, 7600.0, 7207.0, nan, nan, nan, 2554.0, nan, nan, nan, nan, nan, nan, 5364.0, nan, nan, nan
None
['nan', 'nan', '9263.0', 'nan', 'nan', 'nan', '2676.0', 'nan', '7600.0', '7207.0', 'nan', 'nan', 'nan', '2554.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '5364.0', 'nan', 'nan', 'nan']
Correct
How many people are Currently on ventilators in Virgin Islands?
Select onVentilatorCurrently from db2State where date = '20210307' and state = "VI"
nan, 183.0, 43.0, nan, 116.0, 112.0, 135.0, nan, nan, 682.0, nan, nan, 19.0, nan, 1.0, nan, 16.0, nan, nan, 8.0, 50.0, 47.0, 171.0, 65.0, nan, nan, 83.0, nan, 26.0, 3.0, 16.0, 22.0, nan, 168.0, 82.0, 6.0, 97.0, 232.0, 143.0, 6.0, nan, 6.0, 12.0, nan, nan, nan, 75.0, nan, nan, nan, nan, 48.0, 127.0, nan, 2.0, nan
None
['nan', '183.0', '43.0', 'nan', '116.0', '112.0', '135.0', 'nan', 'nan', '682.0', 'nan', 'nan', '19.0', 'nan', '1.0', 'nan', '16.0', 'nan', 'nan', '8.0', '50.0', '47.0', '171.0', '65.0', 'nan', 'nan', '83.0', 'nan', '26.0', '3.0', '16.0', '22.0', 'nan', '168.0', '82.0', '6.0', '97.0', '232.0', '143.0', '6.0', 'nan', '6.0', '12.0', 'nan', 'nan', 'nan', '75.0', 'nan', 'nan', 'nan', 'nan', '48.0', '127.0', 'nan', '2.0', 'nan']
Correct
How many people are Cumulatively on ventilators in Virgin Islands?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "VI"
nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1515.0, nan, nan, nan, nan, 822.0, nan, nan, nan, nan, 1533.0, nan, nan, nan, nan, nan, nan, nan, 411.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '1515.0', 'nan', 'nan', 'nan', 'nan', '822.0', 'nan', 'nan', 'nan', 'nan', '1533.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '411.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many people are Currently hospitalized in Virgin Islands?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "VI"
4721.0, 1587.0, 431.0, 2008.0, 665.0, 1141.0, 955.0, 326.0, nan, 4789.0, 137.0, 428.0, 134.0, 494.0, 2.0, 818.0, 141.0, 249.0, 212.0, 67.0, 656.0, 419.0, 820.0, 335.0, 346.0, 68.0, 579.0, nan, 179.0, 27.0, 150.0, 235.0, 21.0, 1127.0, 558.0, 63.0, 866.0, 1792.0, 963.0, 167.0, 169.0, 72.0, 158.0, 150.0, nan, 104.0, 532.0, 1179.0, 31.0, 23.0, 224.0, 399.0, 851.0, 4291.0, 33.0, 3307.0
None
['4721.0', '1587.0', '431.0', '2008.0', '665.0', '1141.0', '955.0', '326.0', 'nan', '4789.0', '137.0', '428.0', '134.0', '494.0', '2.0', '818.0', '141.0', '249.0', '212.0', '67.0', '656.0', '419.0', '820.0', '335.0', '346.0', '68.0', '579.0', 'nan', '179.0', '27.0', '150.0', '235.0', '21.0', '1127.0', '558.0', '63.0', '866.0', '1792.0', '963.0', '167.0', '169.0', '72.0', '158.0', '150.0', 'nan', '104.0', '532.0', '1179.0', '31.0', '23.0', '224.0', '399.0', '851.0', '4291.0', '33.0', '3307.0']
How many people are Cumulatively hospitalized in Virgin Islands?

Correct
How many people are Cumulatively on ventilators in California?
Select onVentilatorCumulative from db2State where date = '20210307' and state = "CA"
nan
None
['nan']
Correct
How many people are Currently hospitalized in California?
Select hospitalizedCurrently from db2State where date = '20210307' and state = "CA"
169.0, 4291.0
4291.0
['169.0', '4291.0']
Correct
How many people are Cumulatively hospitalized in California?
Select hospitalizedCumulative from db2State where date = '20210307' and state = "CA"
nan
None
['nan']
Correct
87
26.85185185185185
324

In [ ]:
#2q1
with open("2q1data.json") as f: 
    tapas_data4 = json.load(f)
tapas_data4

{'What is the percent postive rate in Ohio?': '26.776219423446747',
 'What is the percent negative rate in Ohio?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Ohio?': '37300.0',
 'What is the hospitilization rate in Ohio?': '4.737417490242483, 3.4283967331964886',
 'What is the percent postive rate in New Mexico?': '26.776219423446747',
 'What is the percent negative rate in New Mexico?': '100.0',
 'What is the daily percent positive rate in New Mexico?': '37300.0',
 'What is the hospitilization rate in New Mexico?': '3.4283967331964886',
 'What is the percent postive rate in Wisconsin?': '26.776219423446747',
 'What is the percent negative rate in Wisconsin?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Wisconsin?': '1.568420125121156, 100.0',
 'What is the hospitilization rate in Wisconsin?': '4.737417490242483',
 'What is the percent postive rate in South Dakota?': '26.776219423446747',
 'What is the percent negative rate in South Dakota?': '100.0',
 'What is the daily percent positive rate in South Dakota?': '37300.0',
 'What is the hospitilization rate in South Dakota?': '4.737417490242483, 5.301513639489726, 3.4283967331964886',
 'What is the percent postive rate in Indiana?': '26.776219423446747',
 'What is the percent negative rate in Indiana?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Indiana?': '37300.0, 100.0, 100.0',
 'What is the hospitilization rate in Indiana?': '4.737417490242483, 3.4283967331964886',
 'What is the percent postive rate in Virgin Islands?': '26.776219423446747',
 'What is the percent negative rate in Virgin Islands?': '100.0',
 'What is the daily percent positive rate in Virgin Islands?': '37300.0, 1.9642578023237638',
 'What is the hospitilization rate in Virgin Islands?': '3.4283967331964886',
 'What is the percent postive rate in Arizona?': '10.450721127248563',
 'What is the percent negative rate in Arizona?': '38.858993399809435',
 'What is the daily percent positive rate in Arizona?': '2.9594324983373976',
 'What is the hospitilization rate in Arizona?': '7.006681557594252',
 'What is the percent postive rate in Rhode Island?': '26.776219423446747',
 'What is the percent negative rate in Rhode Island?': '100.0',
 'What is the daily percent positive rate in Rhode Island?': '37300.0, 100.0',
 'What is the hospitilization rate in Rhode Island?': '3.4283967331964886',
 'What is the percent postive rate in West Virginia?': '2.7583755978267415',
 'What is the percent negative rate in West Virginia?': '100.0',
 'What is the daily percent positive rate in West Virginia?': '1.9642578023237638',
 'What is the hospitilization rate in West Virginia?': '4.737417490242483, 3.4283967331964886',
 'What is the percent postive rate in Washington?': '26.776219423446747',
 'What is the percent negative rate in Washington?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Washington?': '2.549772965420887',
 'What is the hospitilization rate in Washington?': '9.20455748362461',
 'What is the percent postive rate in Massachusetts?': '26.776219423446747',
 'What is the percent negative rate in Massachusetts?': '100.0',
 'What is the daily percent positive rate in Massachusetts?': '37300.0, 1.4754913127213236',
 'What is the hospitilization rate in Massachusetts?': '3.3335249832588154',
 'What is the percent postive rate in Colorado?': '26.776219423446747',
 'What is the percent negative rate in Colorado?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Colorado?': '37300.0, 100.0, 100.0',
 'What is the hospitilization rate in Colorado?': '3.4283967331964886',
 'What is the percent postive rate in Illinois?': '6.428770307598796',
 'What is the percent negative rate in Illinois?': 'nan',
 'What is the daily percent positive rate in Illinois?': '1.568420125121156',
 'What is the hospitilization rate in Illinois?': 'nan',
 'What is the percent postive rate in Arkansas?': '26.776219423446747',
 'What is the percent negative rate in Arkansas?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Arkansas?': '37300.0, 100.0, 26.262626262626263',
 'What is the percent postive rate in Tennessee?': '26.776219423446747',
 'What is the percent negative rate in Tennessee?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Tennessee?': '37300.0, 100.0',
 'What is the hospitilization rate in Tennessee?': '9.20455748362461, 4.737417490242483',
 'What is the percent postive rate in Louisiana?': '7.616324148480264',
 'What is the percent negative rate in Louisiana?': '100.0, 92.38367585151974, 38.065089228474335',
 'What is the daily percent positive rate in Louisiana?': '3.471244957313069',
 'What is the hospitilization rate in Louisiana?': '3.4283967331964886',
 'What is the percent postive rate in Michigan?': '26.776219423446747',
 'What is the percent negative rate in Michigan?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Michigan?': '37300.0, 100.0',
 'What is the hospitilization rate in Michigan?': '9.20455748362461, 4.737417490242483',
 'What is the percent postive rate in Georgia?': '26.776219423446747',
 'What is the percent negative rate in Georgia?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Georgia?': '100.0, 100.0',
 'What is the hospitilization rate in Georgia?': '5.549362131614764',
 'What is the percent postive rate in Guam?': '26.776219423446747',
 'What is the percent negative rate in Guam?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Guam?': '37300.0, 100.0, 100.0',
 'What is the hospitilization rate in Guam?': '3.4283967331964886',
 'What is the percent postive rate in Vermont?': '26.776219423446747',
 'What is the percent negative rate in Vermont?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Vermont?': '37300.0, 100.0, 100.0, 100.0',
 'What is the hospitilization rate in Vermont?': '3.4283967331964886',
 'What is the percent postive rate in Pennsylvania?': '26.776219423446747',
 'What is the percent negative rate in Pennsylvania?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Pennsylvania?': '37300.0',
 'What is the percent postive rate in Montana?': '26.776219423446747',
 'What is the percent negative rate in Montana?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Montana?': '37300.0, 100.0, 100.0',
 'What is the percent postive rate in Iowa?': '21.28305504513861',
 'What is the percent negative rate in Iowa?': '78.71694495486139, 100.0',
 'What is the daily percent positive rate in Iowa?': '16.516709511568124',
 'What is the hospitilization rate in Iowa?': 'nan, 4.737417490242483, 5.301513639489726, 3.4283967331964886',
 'What is the percent postive rate in Oregon?': '26.776219423446747',
 'What is the percent negative rate in Oregon?': '100.0',
 'What is the daily percent positive rate in Oregon?': '26.262626262626263',
 'What is the percent postive rate in Virginia?': '26.776219423446747',
 'What is the percent negative rate in Virginia?': '38.065089228474335',
 'What is the daily percent positive rate in Virginia?': '100.0',
 'What is the hospitilization rate in Virginia?': '9.20455748362461, 4.737417490242483',
 'What is the percent postive rate in Minnesota?': '6.890472630813389',
 'What is the percent negative rate in Minnesota?': '43.00843656154573',
 'What is the daily percent positive rate in Minnesota?': '3.5279277858804052',
 'What is the hospitilization rate in Minnesota?': '5.301513639489726',
 'What is the percent postive rate in Wyoming?': '26.776219423446747',
 'What is the percent negative rate in Wyoming?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Wyoming?': '37300.0, 100.0, 100.0',
 'What is the percent postive rate in Alabama?': '21.50880372908372',
 'What is the percent negative rate in Alabama?': '83.12767773996595',
 'What is the daily percent positive rate in Alabama?': '17.383894333191307',
 'What is the hospitilization rate in Alabama?': '9.198529867812148',
 'What is the percent postive rate in Utah?': '26.776219423446747',
 'What is the percent negative rate in Utah?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Utah?': '37300.0, 26.262626262626263',
 'What is the hospitilization rate in Utah?': '9.20455748362461',
 'What is the percent postive rate in South Carolina?': '26.776219423446747',
 'What is the percent negative rate in South Carolina?': '100.0',
 'What is the hospitilization rate in South Carolina?': '4.737417490242483, 3.4283967331964886',
 'What is the percent postive rate in Missouri?': '26.776219423446747',
 'What is the percent negative rate in Missouri?': '100.0',
 'What is the daily percent positive rate in Missouri?': '37300.0, 100.0',
 'What is the percent postive rate in Delaware?': '26.776219423446747',
 'What is the percent negative rate in Delaware?': '38.065089228474335',
 'What is the daily percent positive rate in Delaware?': '37300.0, 3.6645645133799216',
 'What is the hospitilization rate in Delaware?': '9.20455748362461',
 'What is the percent postive rate in Alaska?': '26.776219423446747',
 'What is the percent negative rate in Alaska?': '100.0',
 'What is the daily percent positive rate in Alaska?': '2.4034734067297254, 100.0, 100.0',
 'What is the hospitilization rate in Alaska?': '2.2729669866047884',
 'What is the percent postive rate in North Carolina?': '26.776219423446747',
 'What is the percent negative rate in North Carolina?': '100.0',
 'What is the daily percent positive rate in North Carolina?': '37300.0, 100.0',
 'What is the hospitilization rate in North Carolina?': '4.737417490242483, 3.4283967331964886',
 'What is the percent postive rate in Texas?': '26.776219423446747',
 'What is the percent negative rate in Texas?': '38.065089228474335',
 'What is the daily percent positive rate in Texas?': '37300.0, 100.0',
 'What is the hospitilization rate in Texas?': '4.737417490242483, 3.4283967331964886',
 'What is the percent postive rate in Nebraska?': '26.776219423446747',
 'What is the percent negative rate in Nebraska?': '100.0',
 'What is the daily percent positive rate in Nebraska?': '37300.0, 100.0',
 'What is the hospitilization rate in Nebraska?': '5.301513639489726',
 'What is the percent postive rate in Hawaii?': '26.776219423446747',
 'What is the percent negative rate in Hawaii?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Hawaii?': '37300.0, 1.0357631424662888',
 'What is the hospitilization rate in Hawaii?': '7.756367817693996, 3.4283967331964886',
 'What is the percent postive rate in Mississippi?': '26.776219423446747',
 'What is the percent negative rate in Mississippi?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Mississippi?': '9.077388856429597',
 'What is the hospitilization rate in Mississippi?': '9.20455748362461, 5.549362131614764',
 'What is the percent postive rate in District of Columbia?': '26.776219423446747',
 'What is the percent negative rate in District of Columbia?': '38.065089228474335',
 'What is the daily percent positive rate in District of Columbia?': '1.9642578023237638, 100.0',
 'What is the hospitilization rate in District of Columbia?': '4.737417490242483',
 'What is the percent postive rate in Florida?': '8.546458863175921, 26.776219423446747',
 'What is the percent negative rate in Florida?': '41.80563997374658',
 'What is the daily percent positive rate in Florida?': '6.229198594405486',
 'What is the hospitilization rate in Florida?': '4.307385938365051',
 'What is the percent postive rate in North Dakota?': '26.776219423446747',
 'What is the percent negative rate in North Dakota?': '100.0',
 'What is the daily percent positive rate in North Dakota?': '37300.0',
 'What is the hospitilization rate in North Dakota?': '4.737417490242483, 5.301513639489726, 3.4283967331964886',
 'What is the percent postive rate in New Jersey?': '26.776219423446747',
 'What is the percent negative rate in New Jersey?': '100.0',
 'What is the daily percent positive rate in New Jersey?': '37300.0',
 'What is the hospitilization rate in New Jersey?': '3.4283967331964886',
 'What is the percent postive rate in Idaho?': '26.776219423446747',
 'What is the percent negative rate in Idaho?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Idaho?': '26.262626262626263',
 'What is the hospitilization rate in Idaho?': '3.4283967331964886',
 'What is the percent postive rate in New York?': '26.776219423446747',
 'What is the percent negative rate in New York?': '100.0',
 'What is the daily percent positive rate in New York?': '37300.0',
 'What is the hospitilization rate in New York?': '3.4283967331964886',
 'What is the percent postive rate in Connecticut?': '4.3759813482862775',
 'What is the percent negative rate in Connecticut?': '31.842635124979147, nan',
 'What is the daily percent positive rate in Connecticut?': '37300.0, nan',
 'What is the hospitilization rate in Connecticut?': '3.072020332371223',
 'What is the percent postive rate in Oklahoma?': '26.776219423446747',
 'What is the percent negative rate in Oklahoma?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Oklahoma?': '100.0',
 'What is the hospitilization rate in Oklahoma?': '4.737417490242483',
 'What is the percent postive rate in Kentucky?': '10.33055543817498',
 'What is the percent negative rate in Kentucky?': 'nan',
 'What is the daily percent positive rate in Kentucky?': 'inf',
 'What is the hospitilization rate in Kentucky?': '4.737417490242483',
 'What is the percent postive rate in Maine?': '26.776219423446747',
 'What is the percent negative rate in Maine?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Maine?': '100.0',
 'What is the hospitilization rate in Maine?': '3.4283967331964886',
 'What is the percent postive rate in New Hampshire?': '26.776219423446747',
 'What is the percent negative rate in New Hampshire?': '100.0',
 'What is the daily percent positive rate in New Hampshire?': '37300.0',
 'What is the hospitilization rate in New Hampshire?': '3.4283967331964886',
 'What is the percent postive rate in Kansas?': '23.286112202067297',
 'What is the percent negative rate in Kansas?': '76.7138877979327',
 'What is the daily percent positive rate in Kansas?': '37300.0, nan, 100.0',
 'What is the hospitilization rate in Kansas?': '3.172773701163722',
 'What is the percent postive rate in Nevada?': '26.776219423446747',
 'What is the percent negative rate in Nevada?': '100.0, 38.065089228474335',
 'What is the daily percent positive rate in Nevada?': '37300.0, 100.0',
 'What is the hospitilization rate in Nevada?': '4.737417490242483',
 'What is the percent postive rate in Maryland?': '4.783139180916791',
 'What is the percent negative rate in Maryland?': '37.47468073834314',
 'What is the daily percent positive rate in Maryland?': '2.140183530548177',
 'What is the hospitilization rate in Maryland?': '9.20455748362461',
 'What is the percent postive rate in California?': '7.052719277724894',
 'What is the percent negative rate in California?': 'nan',
 'What is the daily percent positive rate in California?': '2.8651660084393256',
 'What is the hospitilization rate in California?': 'nan'}

In [ ]:
count = 0
correct = 0
count2 = 0
set_q = set([])
s = []
for i in range(len(data)):
    if data[str(i+1)][0]['question_template_id'] == '2q1':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        query = data[str(i+1)][0]['sql']
        query = query.replace("20210426", "20210307")
        if 'recovery rate' in ent[0] or 'Case-Fatality rate' in ent[0] or 'testing rate' in ent[0] or 'Incidence Rate' in ent[0]: 
            continue
        if ent[0] == 'percent postive rate': 
            query = query.replace("hospitalizedCumulative * 100.0/positive", "positive * 100.0/totalTestResults")
        print(query)
        if q not in tapas_data4.keys():
            count +=1
            count2 +=1
            continue
        c.execute(query)
        res = c.fetchall()
        print(tapas_data4[q])
        temp = tapas_data4[q].split(", ")
        print(res[0][0])
        print(temp)
        check = False
        for i in temp: 
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
        if check == True: 
            correct += 1
            print("Correct")
        count  +=1
print(correct)
print(correct * 100.0/count)
print(count)
print(count2)

Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "OH"
26.776219423446747
9.539397710301207
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "OH"
100.0, 38.065089228474335
None
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "OH"
37300.0
2.5094745467581685
['37300.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "OH"
4.737417490242483, 3.4283967331964886
5.200051917736959
['4.737417490242483', '3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "NM"
26.776219423446747
6.715257035819829
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "NM"
100.0
None
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "NM"
37300.0
1.5381985985301658
['37300.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "NM"
3.4283967331964886
7.0895881704668255
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "WI"
26.776219423446747
8.779685887979753
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "WI"
100.0, 38.065089228474335
37.3960662910391
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "WI"
1.568420125121156, 100.0
1.9642578023237638
['1.568420125121156', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "WI"
4.737417490242483
4.255904409848565
['4.737417490242483']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "SD"
26.776219423446747
16.182521184629675
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "SD"
100.0
44.811119152500844
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "SD"
37300.0
16.54901960784314
['37300.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "SD"
4.737417490242483, 5.301513639489726, 3.4283967331964886
5.902860312178116
['4.737417490242483', '5.301513639489726', '3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "IN"
26.776219423446747
8.095514310391662
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "IN"
100.0, 38.065089228474335
30.126734225738797
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "IN"
37300.0, 100.0, 100.0
2.5350868250246372
['37300.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "IN"
4.737417490242483, 3.4283967331964886
6.476766247740768
['4.737417490242483', '3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "VI"
26.776219423446747
5.5522595691577505
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "VI"
100.0
94.44774043084225
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "VI"
37300.0, 1.9642578023237638
None
['37300.0', '1.9642578023237638']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "VI"
3.4283967331964886
None
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "AZ"
10.450721127248563
10.450721127248563
['10.450721127248563']
Correct
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "AZ"
38.858993399809435
38.858993399809435
['38.858993399809435']
Correct
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "AZ"
2.9594324983373976
2.9594324983373976
['2.9594324983373976']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "AZ"
7.006681557594252
7.006681557594252
['7.006681557594252']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "RI"
26.776219423446747
4.123171673473465
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "RI"
100.0
21.693708161882697
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "RI"
37300.0, 100.0
1.9610745208317917
['37300.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "RI"
3.4283967331964886
7.0041388092964025
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "WV"
2.7583755978267415
5.96655296481055
['2.7583755978267415']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "WV"
100.0
None
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "WV"
1.9642578023237638
2.4034734067297254
['1.9642578023237638']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "WV"
4.737417490242483, 3.4283967331964886
None
['4.737417490242483', '3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "WA"
26.776219423446747
6.387608189914412
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "WA"
100.0, 38.065089228474335
None
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "WA"
2.549772965420887
2.762063227953411
['2.549772965420887']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "WA"
9.20455748362461
5.688586256138763
['9.20455748362461']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "MA"
26.776219423446747
3.514630813576328
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "MA"
100.0
26.179184265644555
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "MA"
37300.0, 1.4754913127213236
1.4754913127213236
['37300.0', '1.4754913127213236']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "MA"
3.3335249832588154
3.3335249832588154
['3.3335249832588154']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "CO"
26.776219423446747
6.805824299861436
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "CO"
100.0, 38.065089228474335
34.28551564794627
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "CO"
37300.0, 100.0, 100.0
2.2010848203757565
['37300.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "CO"
3.4283967331964886
5.4750092761828855
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "IL"
6.428770307598796
6.428770307598796
['6.428770307598796']
Correct
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "IL"
nan
None
['nan']
Correct
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "IL"
1.568420125121156
1.568420125121156
['1.568420125121156']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "IL"
nan
None
['nan']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "AR"
26.776219423446747
11.870085315164728
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "AR"
100.0, 38.065089228474335
90.65479918814285
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "AR"
37300.0, 100.0, 26.262626262626263
4.881656804733728
['37300.0', '100.0', '26.262626262626263']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "AR"
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "TN"
26.776219423446747
11.381274876341259
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "TN"
100.0, 38.065089228474335
None
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "TN"
37300.0, 100.0
None
['37300.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "TN"
9.20455748362461, 4.737417490242483
2.412407984597408
['9.20455748362461', '4.737417490242483']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "LA"
7.616324148480264
7.616324148480264
['7.616324148480264']
Correct
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "LA"
100.0, 92.38367585151974, 38.065089228474335
92.38367585151974
['100.0', '92.38367585151974', '38.065089228474335']
Correct
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "LA"
3.471244957313069
3.471244957313069
['3.471244957313069']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "LA"
3.4283967331964886
None
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "MI"
26.776219423446747
6.176558447225453
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "MI"
100.0, 38.065089228474335
None
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "MI"
37300.0, 100.0
None
['37300.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "MI"
9.20455748362461, 4.737417490242483
None
['9.20455748362461', '4.737417490242483']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "GA"
26.776219423446747
13.907832634807473
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "GA"
100.0, 38.065089228474335
None
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "GA"
100.0, 100.0
9.077388856429597
['100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "GA"
5.549362131614764
5.549362131614764
['5.549362131614764']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "GU"
26.776219423446747
6.423455684870188
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "GU"
100.0, 38.065089228474335
93.57654431512981
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "GU"
37300.0, 100.0, 100.0
None
['37300.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "GU"
3.4283967331964886
None
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "VT"
26.776219423446747
1.4305982396605632
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "VT"
100.0, 38.065089228474335
28.469643262187393
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "VT"
37300.0, 100.0, 100.0, 100.0
1.3603109282121628
['37300.0', '100.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "VT"
3.4283967331964886
None
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "PA"
26.776219423446747
8.880998146739719
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "PA"
100.0, 38.065089228474335
36.905343673245014
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "PA"
37300.0
3.1621910283796155
['37300.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "PA"
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "MT"
26.776219423446747
9.13672217353199
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "MT"
100.0, 38.065089228474335
None
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "MT"
37300.0, 100.0, 100.0
2.2988505747126435
['37300.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "MT"
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "GU"
26.776219423446747
6.423455684870188
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "GU"
100.0, 38.065089228474335
93.57654431512981
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "GU"
37300.0, 100.0, 100.0
None
['37300.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "GU"
3.4283967331964886
None
['3.4283967331964886']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "IA"
21.28305504513861
21.28305504513861
['21.28305504513861']
Correct
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "IA"
78.71694495486139, 100.0
78.71694495486139
['78.71694495486139', '100.0']
Correct
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "IA"
16.516709511568124
16.516709511568124
['16.516709511568124']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "IA"
nan, 4.737417490242483, 5.301513639489726, 3.4283967331964886
None
['nan', '4.737417490242483', '5.301513639489726', '3.4283967331964886']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "OR"
26.776219423446747
4.078943165792126
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "OR"
100.0
None
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "OR"
26.262626262626263
None
['26.262626262626263']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "OR"
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "VA"
26.776219423446747
9.69989611157878
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "VA"
38.065089228474335
None
['38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "VA"
100.0
5.836888331242158
['100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "VA"
9.20455748362461, 4.737417490242483
4.210517329690968
['9.20455748362461', '4.737417490242483']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "MN"
6.890472630813389
6.890472630813389
['6.890472630813389']
Correct
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "MN"
43.00843656154573
43.00843656154573
['43.00843656154573']
Correct
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "MN"
3.5279277858804052
3.5279277858804052
['3.5279277858804052']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "MN"
5.301513639489726
5.301513639489726
['5.301513639489726']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "WY"
26.776219423446747
8.434404806458717
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "WY"
100.0, 38.065089228474335
28.071148156533337
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "WY"
37300.0, 100.0, 100.0
None
['37300.0', '100.0', '100.0']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "WY"
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "AL"
21.50880372908372
21.50880372908372
['21.50880372908372']
Correct
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "AL"
83.12767773996595
83.12767773996595
['83.12767773996595']
Correct
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "AL"
17.383894333191307
17.383894333191307
['17.383894333191307']
Correct
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "AL"
9.198529867812148
9.198529867812148
['9.198529867812148']
Correct
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "UT"
26.776219423446747
12.880907701088718
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "UT"
100.0, 38.065089228474335
53.616086753781026
['100.0', '38.065089228474335']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "UT"
37300.0, 26.262626262626263
6.033977738722906
['37300.0', '26.262626262626263']
Select hospitalizedCumulative * 100.0/positive from db2State where date = '20210307' and state = "UT"
9.20455748362461
3.9725223422702416
['9.20455748362461']
Select positive * 100.0/totalTestResults from db2State where date = '20210307' and state = "SC"
26.776219423446747
10.145871808149806
['26.776219423446747']
Select negative * 100.0/totalTestResults from db2State where date = '20210307' and state = "SC"
100.0
89.8541281918502
['100.0']
Select positiveIncrease * 100.0 /totalTestResultsIncrease from db2State where date = '20210307' and state = "SC"

In [ ]:
#2q9
with open("2q9data.json") as f: 
    tapas_data5 = json.load(f)
len(tapas_data5)

16

In [ ]:
count = 0
correct = 0
for i in range(len(data)): 
    if data[str(i+1)][0]['question_template_id'] == '2q9':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        if 'recovery rate' in ent[1] or 'Case-Fatality rate' in ent[1] or 'testing rate' in ent[1] or 'Incidence Rate' in ent[1]: 
            continue
        query = data[str(i+1)][0]['sql']
        query = query.replace("20210426", "20210307")
        if ent[1] == 'percent postive rate': 
            query = query.replace("hospitalizedCumulative * 100.0/positive", "positive * 100.0/totalTestResults")
            query = query.replace("hospitalizedCumulative", "totalTestResults")
        print(q)
        print(query)
        c.execute(query)
        res = c.fetchall()
        print(tapas_data5[q])
        temp = tapas_data5[q].split(", ")
        print(res[0][0])
        print(temp)
        check = False
        for i in temp: 
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
        if check == True: 
            correct += 1
            print("Correct")
        count  +=1
print(correct)
print(correct * 100.0/count)
print(count)

Which state has the highest percent postive rate?
Select state from db2state where date = '20210307' and totalTestResults is not null and positive is not null order by positive * 100.0/totalTestResults desc limit 0, 1
ID
ID
['ID']
Correct
Which state has the highest percent negative rate?
Select state from db2state where date = '20210307' and negative is not null and totalTestResults is not null order by negative * 100.0/totalTestResults desc limit 0, 1
AK, GU
AS
['AK', 'GU']
Which state has the highest daily percent positive rate?
Select state from db2state where date = '20210307' and positiveIncrease is not null and totalTestResultsIncrease is not null order by positiveIncrease * 100.0 /totalTestResultsIncrease desc limit 0, 1
GA, NE, MP
NE
['GA', 'NE', 'MP']
Correct
Which state has the highest hospitilization rate?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null and positive is not null order by hospitalizedCumulative * 100.0/positive desc limit 0, 1
AK
MD
['AK']
Which state has the lowest percent postive rate?
Select state from db2state where date = '20210307' and totalTestResults is not null and positive is not null order by positive * 100.0/totalTestResults asc limit 0, 1
CA
AS
['CA']
Which state has the lowest percent negative rate?
Select state from db2state where date = '20210307' and negative is not null and totalTestResults is not null order by negative * 100.0/totalTestResults asc limit 0, 1
AS, NJ, GU
ND
['AS', 'NJ', 'GU']
Which state has the lowest daily percent positive rate?
Select state from db2state where date = '20210307' and positiveIncrease is not null and totalTestResultsIncrease is not null order by positiveIncrease * 100.0 /totalTestResultsIncrease asc limit 0, 1
HI
AK
['HI']
Which state has the lowest hospitilization rate?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null and positive is not null order by hospitalizedCumulative * 100.0/positive asc limit 0, 1
KY
NH
['KY']
Which state has the most percent postive rate?
Select state from db2state where date = '20210307' and totalTestResults is not null and positive is not null order by positive * 100.0/totalTestResults desc limit 0, 1
ID
ID
['ID']
Correct
Which state has the most percent negative rate?
Select state from db2state where date = '20210307' and negative is not null and totalTestResults is not null order by negative * 100.0/totalTestResults desc limit 0, 1
MN
AS
['MN']
Which state has the most daily percent positive rate?
Select state from db2state where date = '20210307' and positiveIncrease is not null and totalTestResultsIncrease is not null order by positiveIncrease * 100.0 /totalTestResultsIncrease desc limit 0, 1
GA, ID
NE
['GA', 'ID']
Which state has the most hospitilization rate?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null and positive is not null order by hospitalizedCumulative * 100.0/positive desc limit 0, 1
GA, ID
MD
['GA', 'ID']
Which state has the least percent postive rate?
Select state from db2state where date = '20210307' and totalTestResults is not null and positive is not null order by positive * 100.0/totalTestResults asc limit 0, 1
AS, CA
AS
['AS', 'CA']
Correct
Which state has the least percent negative rate?
Select state from db2state where date = '20210307' and negative is not null and totalTestResults is not null order by negative * 100.0/totalTestResults asc limit 0, 1
MN, GU
ND
['MN', 'GU']
Which state has the least daily percent positive rate?
Select state from db2state where date = '20210307' and positiveIncrease is not null and totalTestResultsIncrease is not null order by positiveIncrease * 100.0 /totalTestResultsIncrease asc limit 0, 1
HI
AK
['HI']
Which state has the least hospitilization rate?
Select state from db2state where date = '20210307' and hospitalizedCumulative is not null and positive is not null order by hospitalizedCumulative * 100.0/positive asc limit 0, 1
KY
NH
['KY']
4
25.0
16

In [ ]:
#2q7
with open("2q7data.json") as f: 
    tapas_data_2q7 = json.load(f)
len(tapas_data_2q7)

175

In [ ]:
count = 0
correct = 0
for i in range(len(data)): 
    if data[str(i+1)][0]['question_template_id'] == '2q7':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        if ent[1] == 'new cases' or ent[1] == 'daily cases':
            continue
        query = data[str(i+1)][0]['sql']
        print(q)
        query = query.replace('20210426', '20210307')
        query2 = query.split(" ")
        rep = query2[9] 
        if "Cases" in query2[9]: 
            query = query.replace(rep, rep + "*100.0/Cases_Total")
        else:
            query = query.replace(rep, rep + "*100.0/Deaths_Total")
        if "African-American" in q: 
            query = query.replace("LatinX", "Black")
        if "LatinX" in query: 
            query = query.replace("LatinX", "Latinx")
        if "Black" in q: 
           query = query.replace("Black", "Multiracial")
        print(query)
        if q not in tapas_data_2q7.keys():
            count +=1
            continue
        c.execute(query)
        res = c.fetchall()
        print(tapas_data_2q7[q])
        temp = tapas_data_2q7[q].split(", ")
        print(res[0][0])
        print(temp)
        check = False
        for i in temp: 
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
        if check == True: 
            correct += 1
            print("Correct")
        count +=1
print(correct)
print(correct * 100.0/count)
print(count)

Which state has the highest percentage of African-American confirmed cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total desc limit 0, 1
DC
DC
['DC']
Correct
Which state has the highest percentage of Hispanic confirmed cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total desc limit 0, 1
GA, MS
NM
['GA', 'MS']
Which state has the highest percentage of Latino confirmed cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total desc limit 0, 1
GA, MS
NM
['GA', 'MS']
Which state has the highest percentage of Black confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of Asian confirmed cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total desc limit 0, 1
GU
GU
['GU']
Correct
Which state has the highest percentage of American Indian confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AZ
AK
['AZ']
Which state has the highest percentage of White confirmed cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total desc limit 0, 1
ME
WV
['ME']
Which state has the highest percentage of Caucasian confirmed cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total desc limit 0, 1
ME
WV
['ME']
Which state has the highest percentage of Native Hawaiian confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of Alaska Native confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK, AZ
AK
['AK', 'AZ']
Correct
Which state has the highest percentage of American Indian or Alaska Native confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK, AZ
AK
['AK', 'AZ']
Correct
Which state has the highest percentage of Pacific Islander confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of Pacific Islander and Native Hawaiian confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of multiracial confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of mixed confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of African-American deaths?
Select state from db2race where date = '20210307' and Deaths_Black*100.0/Deaths_Total is not null order by Deaths_Black*100.0/Deaths_Total desc limit 0, 1
DC
DC
['DC']
Correct
Which state has the highest percentage of Hispanic deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total desc limit 0, 1
Which state has the highest percentage of Latino deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total desc limit 0, 1
Which state has the highest percentage of Black deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total desc limit 0, 1
AK
CT
['AK']
Which state has the highest percentage of Asian deaths?
Select state from db2race where date = '20210307' and Deaths_Asian*100.0/Deaths_Total is not null order by Deaths_Asian*100.0/Deaths_Total desc limit 0, 1
GU
HI
['GU']
Which state has the highest percentage of American Indian deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of White deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total desc limit 0, 1
DE
NH
['DE']
Which state has the highest percentage of Caucasian deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total desc limit 0, 1
VI, DE, MI
NH
['VI', 'DE', 'MI']
Which state has the highest percentage of Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of American Indian or Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of Pacific Islander deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of Pacific Islander and Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of multiracial deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total desc limit 0, 1
AK
CT
['AK']
Which state has the highest percentage of mixed deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total desc limit 0, 1
AK
CT
['AK']
Which state has the highest percentage of African-American cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total desc limit 0, 1
DC
DC
['DC']
Correct
Which state has the highest percentage of Hispanic cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total desc limit 0, 1
GA, MS
NM
['GA', 'MS']
Which state has the highest percentage of Latino cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total desc limit 0, 1
GA, MS
NM
['GA', 'MS']
Which state has the highest percentage of Black cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of Asian cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total desc limit 0, 1
GU
GU
['GU']
Correct
Which state has the highest percentage of American Indian cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AZ
AK
['AZ']
Which state has the highest percentage of White cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total desc limit 0, 1
ME
WV
['ME']
Which state has the highest percentage of Caucasian cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total desc limit 0, 1
ME
WV
['ME']
Which state has the highest percentage of Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of Alaska Native cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK, AZ
AK
['AK', 'AZ']
Correct
Which state has the highest percentage of American Indian or Alaska Native cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK, AZ
AK
['AK', 'AZ']
Correct
Which state has the highest percentage of Pacific Islander cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of Pacific Islander and Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the highest percentage of multiracial cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the highest percentage of mixed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the lowest percentage of African-American confirmed cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total asc limit 0, 1
ID
MT
['ID']
Which state has the lowest percentage of Hispanic confirmed cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA
TX
['GA']
Which state has the lowest percentage of Latino confirmed cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, MS
TX
['GA', 'MS']
Which state has the lowest percentage of Black confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
AR, CA
MO
['AR', 'CA']
Which state has the lowest percentage of Asian confirmed cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total asc limit 0, 1
GU
TX
['GU']
Which state has the lowest percentage of American Indian confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AZ
GA
['AZ']
Which state has the lowest percentage of White confirmed cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
ME
TX
['ME']
Which state has the lowest percentage of Caucasian confirmed cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
ME
TX
['ME']
Which state has the lowest percentage of Native Hawaiian confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
CA
NH
['CA']
Which state has the lowest percentage of Alaska Native confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK
GA
['AK']
Which state has the lowest percentage of American Indian or Alaska Native confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK, AZ
GA
['AK', 'AZ']
Which state has the lowest percentage of Pacific Islander confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
AK, CA
NH
['AK', 'CA']
Which state has the lowest percentage of Pacific Islander and Native Hawaiian confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
CA
NH
['CA']
Which state has the lowest percentage of multiracial confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
AR
MO
['AR']
Which state has the lowest percentage of mixed confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
AR
MO
['AR']
Which state has the lowest percentage of African-American deaths?
Select state from db2race where date = '20210307' and Deaths_Black*100.0/Deaths_Total is not null order by Deaths_Black*100.0/Deaths_Total asc limit 0, 1
GA, AL
MT
['GA', 'AL']
Which state has the lowest percentage of Hispanic deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total asc limit 0, 1
CA
MS
['CA']
Which state has the lowest percentage of Latino deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total asc limit 0, 1
DC
MS
['DC']
Which state has the lowest percentage of Black deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total asc limit 0, 1
KY, AR, AK
MO
['KY', 'AR', 'AK']
Which state has the lowest percentage of Asian deaths?
Select state from db2race where date = '20210307' and Deaths_Asian*100.0/Deaths_Total is not null order by Deaths_Asian*100.0/Deaths_Total asc limit 0, 1
AL, AK
MT
['AL', 'AK']
Which state has the lowest percentage of American Indian deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total asc limit 0, 1
AK
CT
['AK']
Which state has the lowest percentage of White deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total asc limit 0, 1
AK, GU
GU
['AK', 'GU']
Correct
Which state has the lowest percentage of Caucasian deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total asc limit 0, 1
AK, GU
GU
['AK', 'GU']
Correct
Which state has the lowest percentage of Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total asc limit 0, 1
AK
ME
['AK']
Which state has the lowest percentage of Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total asc limit 0, 1
AK
CT
['AK']
Which state has the lowest percentage of American Indian or Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total asc limit 0, 1
AK
CT
['AK']
Which state has the lowest percentage of Pacific Islander deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total asc limit 0, 1
AK
ME
['AK']
Which state has the lowest percentage of Pacific Islander and Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total asc limit 0, 1
AK
ME
['AK']
Which state has the lowest percentage of multiracial deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total asc limit 0, 1
AK
MO
['AK']
Which state has the lowest percentage of mixed deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total asc limit 0, 1
AR, AK
MO
['AR', 'AK']
Which state has the lowest percentage of African-American cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total asc limit 0, 1
Which state has the lowest percentage of Hispanic cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, CA, MS
TX
['GA', 'CA', 'MS']
Which state has the lowest percentage of Latino cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, MS
TX
['GA', 'MS']
Which state has the lowest percentage of Black cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
AR, CA
MO
['AR', 'CA']
Which state has the lowest percentage of Asian cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total asc limit 0, 1
GU
TX
['GU']
Which state has the lowest percentage of American Indian cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK, AZ
GA
['AK', 'AZ']
Which state has the lowest percentage of White cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
FL, ME, HI
TX
['FL', 'ME', 'HI']
Which state has the lowest percentage of Caucasian cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
ME
TX
['ME']
Which state has the lowest percentage of Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
AR
NH
['AR']

AK
GU
['AK']
Which state has the most percentage of multiracial confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
MN, AK
AK
['MN', 'AK']
Correct
Which state has the most percentage of mixed confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of African-American deaths?
Select state from db2race where date = '20210307' and Deaths_Black*100.0/Deaths_Total is not null order by Deaths_Black*100.0/Deaths_Total desc limit 0, 1
GA, MS
DC
['GA', 'MS']
Which state has the most percentage of Hispanic deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total desc limit 0, 1
IL, DC
TX
['IL', 'DC']
Which state has the most percentage of Latino deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total desc limit 0, 1
MN, IL
TX
['MN', 'IL']
Which state has the most percentage of Black deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total desc limit 0, 1
AK
CT
['AK']
Which state has the most percentage of Asian deaths?
Select state from db2race where date = '20210307' and Deaths_Asian*100.0/Deaths_Total is not null order by Deaths_Asian*100.0/Deaths_Total desc limit 0, 1
GU
HI
['GU']
Which state has the most percentage of American Indian deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of White deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total desc limit 0, 1
MI
NH
['MI']
Which state has the most percentage of Caucasian deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total desc limit 0, 1
MI
NH
['MI']
Which state has the most percentage of Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total desc limit 0, 1
AK
GU
['AK']
Which state has the most percentage of Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of American Indian or Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of Pacific Islander deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total desc limit 0, 1
AK
GU
['AK']
Which state has the most percentage of Pacific Islander and Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total desc limit 0, 1
AK
GU
['AK']
Which state has the most percentage of multiracial deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total desc limit 0, 1
AK
CT
['AK']
Which state has the most percentage of mixed deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total desc limit 0, 1
AK
CT
['AK']
Which state has the most percentage of African-American cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total desc limit 0, 1
DC
DC
['DC']
Correct
Which state has the most percentage of Hispanic cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total desc limit 0, 1
GA, MS
NM
['GA', 'MS']
Which state has the most percentage of Latino cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total desc limit 0, 1
GA, MS
NM
['GA', 'MS']
Which state has the most percentage of Black cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AR, MN, AK
AK
['AR', 'MN', 'AK']
Correct
Which state has the most percentage of Asian cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total desc limit 0, 1
HI, GU
GU
['HI', 'GU']
Correct
Which state has the most percentage of American Indian cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK, AZ
AK
['AK', 'AZ']
Correct
Which state has the most percentage of White cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total desc limit 0, 1
ME
WV
['ME']
Which state has the most percentage of Caucasian cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total desc limit 0, 1
ME
WV
['ME']
Which state has the most percentage of Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the most percentage of Alaska Native cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of American Indian or Alaska Native cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of Pacific Islander cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the most percentage of Pacific Islander and Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total desc limit 0, 1
AK
GU
['AK']
Which state has the most percentage of multiracial cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AK
AK
['AK']
Correct
Which state has the most percentage of mixed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total desc limit 0, 1
AR, MN, AK
AK
['AR', 'MN', 'AK']
Correct
Which state has the least percentage of African-American confirmed cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total asc limit 0, 1
ID
MT
['ID']
Which state has the least percentage of Hispanic confirmed cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, MN, MS
TX
['GA', 'MN', 'MS']
Which state has the least percentage of Latino confirmed cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, MN, MS
TX
['GA', 'MN', 'MS']
Which state has the least percentage of Black confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
KY
MO
['KY']
Which state has the least percentage of Asian confirmed cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total asc limit 0, 1
AR, AL
TX
['AR', 'AL']
Which state has the least percentage of American Indian confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AZ
GA
['AZ']
Which state has the least percentage of White confirmed cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
HI
TX
['HI']
Which state has the least percentage of Caucasian confirmed cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
HI, GU
TX
['HI', 'GU']
Which state has the least percentage of Native Hawaiian confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
MN
NH
['MN']
Which state has the least percentage of Alaska Native confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK, AZ
GA
['AK', 'AZ']
Which state has the least percentage of American Indian or Alaska Native confirmed cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK, AZ
GA
['AK', 'AZ']
Which state has the least percentage of Pacific Islander confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
Which state has the least percentage of Pacific Islander and Native Hawaiian confirmed cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
KY
NH
['KY']
Which state has the least percentage of multiracial confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
KY, MN
MO
['KY', 'MN']
Which state has the least percentage of mixed confirmed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
KY, AR
MO
['KY', 'AR']
Which state has the least percentage of African-American deaths?
Select state from db2race where date = '20210307' and Deaths_Black*100.0/Deaths_Total is not null order by Deaths_Black*100.0/Deaths_Total asc limit 0, 1
GA, AL
MT
['GA', 'AL']
Which state has the least percentage of Hispanic deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total asc limit 0, 1
MN, CA
MS
['MN', 'CA']
Which state has the least percentage of Latino deaths?
Select state from db2race where date = '20210307' and Deaths_Latinx*100.0/Deaths_Total is not null order by Deaths_Latinx*100.0/Deaths_Total asc limit 0, 1
MN
MS
['MN']
Which state has the least percentage of Black deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total asc limit 0, 1
KY
MO
['KY']
Which state has the least percentage of Asian deaths?
Select state from db2race where date = '20210307' and Deaths_Asian*100.0/Deaths_Total is not null order by Deaths_Asian*100.0/Deaths_Total asc limit 0, 1
AL, AK
MT
['AL', 'AK']
Which state has the least percentage of American Indian deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total asc limit 0, 1
AK
CT
['AK']
Which state has the least percentage of White deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total asc limit 0, 1
AK, GU
GU
['AK', 'GU']
Correct
Which state has the least percentage of Caucasian deaths?
Select state from db2race where date = '20210307' and Deaths_White*100.0/Deaths_Total is not null order by Deaths_White*100.0/Deaths_Total asc limit 0, 1
AK, GU
GU
['AK', 'GU']
Correct
Which state has the least percentage of Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total asc limit 0, 1
KY
ME
['KY']
Which state has the least percentage of Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total asc limit 0, 1
AK
CT
['AK']
Which state has the least percentage of American Indian or Alaska Native deaths?
Select state from db2race where date = '20210307' and Deaths_AIAN*100.0/Deaths_Total is not null order by Deaths_AIAN*100.0/Deaths_Total asc limit 0, 1
AK
CT
['AK']
Which state has the least percentage of Pacific Islander deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total asc limit 0, 1
KY
ME
['KY']
Which state has the least percentage of Pacific Islander and Native Hawaiian deaths?
Select state from db2race where date = '20210307' and Deaths_NHPI*100.0/Deaths_Total is not null order by Deaths_NHPI*100.0/Deaths_Total asc limit 0, 1
KY
ME
['KY']
Which state has the least percentage of multiracial deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total asc limit 0, 1
KY
MO
['KY']
Which state has the least percentage of mixed deaths?
Select state from db2race where date = '20210307' and Deaths_Multiracial*100.0/Deaths_Total is not null order by Deaths_Multiracial*100.0/Deaths_Total asc limit 0, 1
KY, MN
MO
['KY', 'MN']
Which state has the least percentage of African-American cases?
Select state from db2race where date = '20210307' and Cases_Black*100.0/Cases_Total is not null order by Cases_Black*100.0/Cases_Total asc limit 0, 1
NJ, MT
MT
['NJ', 'MT']
Correct
Which state has the least percentage of Hispanic cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, MS
TX
['GA', 'MS']
Which state has the least percentage of Latino cases?
Select state from db2race where date = '20210307' and Cases_Latinx*100.0/Cases_Total is not null order by Cases_Latinx*100.0/Cases_Total asc limit 0, 1
GA, MN, MS
TX
['GA', 'MN', 'MS']
Which state has the least percentage of Black cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
MN
MO
['MN']
Which state has the least percentage of Asian cases?
Select state from db2race where date = '20210307' and Cases_Asian*100.0/Cases_Total is not null order by Cases_Asian*100.0/Cases_Total asc limit 0, 1
AR, AL
TX
['AR', 'AL']
Which state has the least percentage of American Indian cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK, AZ
GA
['AK', 'AZ']
Which state has the least percentage of White cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
FL, HI, CA
TX
['FL', 'HI', 'CA']
Which state has the least percentage of Caucasian cases?
Select state from db2race where date = '20210307' and Cases_White*100.0/Cases_Total is not null order by Cases_White*100.0/Cases_Total asc limit 0, 1
HI
TX
['HI']
Which state has the least percentage of Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
MN
NH
['MN']
Which state has the least percentage of Alaska Native cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK
GA
['AK']
Which state has the least percentage of American Indian or Alaska Native cases?
Select state from db2race where date = '20210307' and Cases_AIAN*100.0/Cases_Total is not null order by Cases_AIAN*100.0/Cases_Total asc limit 0, 1
AK, AZ
GA
['AK', 'AZ']
Which state has the least percentage of Pacific Islander cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
AK
NH
['AK']
Which state has the least percentage of Pacific Islander and Native Hawaiian cases?
Select state from db2race where date = '20210307' and Cases_NHPI*100.0/Cases_Total is not null order by Cases_NHPI*100.0/Cases_Total asc limit 0, 1
Which state has the least percentage of multiracial cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
MN
MO
['MN']
Which state has the least percentage of mixed cases?
Select state from db2race where date = '20210307' and Cases_Multiracial*100.0/Cases_Total is not null order by Cases_Multiracial*100.0/Cases_Total asc limit 0, 1
MN
MO
['MN']
41
22.77777777777778
180

In [ ]:
#4q2
with open("4q2data.json") as f: 
    tapas_data_4q2 = json.load(f)
len(tapas_data_4q2)

82

In [ ]:
tapas_data_4q2

{'Give me the sex with the highest number of confirmed cases in the United States.': 'Female',
 'Give me the sex with the lowest number of confirmed cases in the United States.': 'Other',
 'Give me the sex with the most number of confirmed cases in the United States.': 'Female',
 'Give me the sex with the least number of confirmed cases in the United States.': 'Other',
 'Give me the sex with the highest percentage of confirmed cases in the United States.': 'Female',
 'Give me the sex with the lowest percentage of confirmed cases in the United States.': 'Other',
 'Give me the sex with the most percentage of confirmed cases in the United States.': 'Female',
 'Give me the sex with the least percentage of confirmed cases in the United States.': 'Other',
 'Give me the sex with the lowest number of deaths in the United States.': 'Other',
 'Give me the sex with the least number of deaths in the United States.': 'Other',
 'Give me the sex with the lowest percentage of deaths in the United States.': 'Other',
 'Give me the sex with the least percentage of deaths in the United States.': 'Other',
 'Give me the race with the highest number of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race with the lowest number of confirmed cases in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the race with the most number of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race with the least number of confirmed cases in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the race with the highest percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race with the most percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race with the highest number of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race with the most number of deaths in the United States.': '70555, 219286',
 'Give me the race with the highest percentage of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race with the lowest percentage of deaths in the United States.': 'American Indian / Alaska Native Non-Hispanic',
 'Give me the race with the most percentage of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race with the least percentage of deaths in the United States.': 'American Indian / Alaska Native Non-Hispanic',
 'Give me the age with the highest number of confirmed cases in the United States.': '85+ Years',
 'Give me the age with the lowest number of confirmed cases in the United States.': '0-4 Years',
 'Give me the age with the most number of confirmed cases in the United States.': '85+ Years',
 'Give me the age with the least number of confirmed cases in the United States.': '0-4 Years',
 'Give me the age with the highest percentage of confirmed cases in the United States.': '18-29 Years',
 'Give me the age with the lowest percentage of confirmed cases in the United States.': '0-4 Years',
 'Give me the age with the most percentage of confirmed cases in the United States.': '18-29 Years',
 'Give me the age with the least percentage of confirmed cases in the United States.': '0-4 Years',
 'Give me the age with the highest number of deaths in the United States.': '85+ Years',
 'Give me the age with the lowest number of deaths in the United States.': '0-4 Years',
 'Give me the age with the most number of deaths in the United States.': '85+ Years',
 'Give me the age with the least number of deaths in the United States.': '0-4 Years',
 'Give me the age with the highest percentage of deaths in the United States.': '85+ Years',
 'Give me the age with the lowest percentage of deaths in the United States.': '5-17 Years, 0-4 Years',
 'Give me the age with the most percentage of deaths in the United States.': '85+ Years',
 'Give me the age with the least percentage of deaths in the United States.': '5-17 Years, 0-4 Years',
 'Give me the age group with the highest number of confirmed cases in the United States.': '85+ Years',
 'Give me the age group with the lowest number of confirmed cases in the United States.': '0-4 Years',
 'Give me the age group with the most number of confirmed cases in the United States.': '85+ Years',
 'Give me the age group with the least number of confirmed cases in the United States.': '0-4 Years',
 'Give me the age group with the highest percentage of confirmed cases in the United States.': '18-29 Years',
 'Give me the age group with the lowest percentage of confirmed cases in the United States.': '0-4 Years',
 'Give me the age group with the most percentage of confirmed cases in the United States.': '18-29 Years',
 'Give me the age group with the least percentage of confirmed cases in the United States.': '0-4 Years',
 'Give me the age group with the highest number of deaths in the United States.': '85+ Years',
 'Give me the age group with the lowest number of deaths in the United States.': '0-4 Years',
 'Give me the age group with the most number of deaths in the United States.': '85+ Years',
 'Give me the age group with the least number of deaths in the United States.': '0-4 Years',
 'Give me the age group with the highest percentage of deaths in the United States.': '85+ Years',
 'Give me the age group with the lowest percentage of deaths in the United States.': '5-17 Years, 0-4 Years',
 'Give me the age group with the most percentage of deaths in the United States.': '85+ Years',
 'Give me the age group with the least percentage of deaths in the United States.': '5-17 Years, 0-4 Years',
 'Give me the race and ethnicity with the highest number of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the lowest number of confirmed cases in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the race and ethnicity with the most number of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the highest percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the lowest percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the most percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the highest number of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the lowest number of deaths in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the race and ethnicity with the most number of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the least number of deaths in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the race and ethnicity with the highest percentage of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the most percentage of deaths in the United States.': 'Hispanic/Latino',
 'Give me the race and ethnicity with the least percentage of deaths in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the ethnicity with the highest number of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the lowest number of confirmed cases in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the ethnicity with the most number of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the least number of confirmed cases in the United States.': 'Native Hawaiian / Other Pacific Islander Non-Hispanic',
 'Give me the ethnicity with the highest percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the most percentage of confirmed cases in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the least percentage of confirmed cases in the United States.': 'American Indian / Alaska Native Non-Hispanic',
 'Give me the ethnicity with the highest number of deaths in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the most number of deaths in the United States.': 'Hispanic/Latino, White Non-Hispanic',
 'Give me the ethnicity with the highest percentage of deaths in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the lowest percentage of deaths in the United States.': 'American Indian / Alaska Native Non-Hispanic',
 'Give me the ethnicity with the most percentage of deaths in the United States.': 'Hispanic/Latino',
 'Give me the ethnicity with the least percentage of deaths in the United States.': 'American Indian / Alaska Native Non-Hispanic'}

In [ ]:
count = 0
correct = 0
for i in range(len(data)): 
    if data[str(i+1)][0]['question_template_id'] == '4q2':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        if ent[3] == 'daily cases' or ent[3] == 'new cases' or ent[3] == 'cases': 
            continue
        query = data[str(i+1)][0]['sql']
        print(q)
        if 'db4casegender' in query: 
            query = query.replace('db4casegender', 'db4casesex')
        if 'db4deathgender' in query: 
            query = query.replace('db4deathgender', 'db4deathsex')
        if 'Order by Percentage' in query: 
            query = query.replace('Order by Percentage', 'Order by Count')
        print(query)
        if q not in tapas_data_4q2.keys():
            count +=1
            continue
        c.execute(query)
        res = c.fetchall()
        print(tapas_data_4q2[q])
        temp = tapas_data_4q2[q].split(", ")
        print(res[0][0])
        print(temp)
        check = False
        for i in temp: 
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
        if check == True: 
            correct += 1
            print("Correct")
        count +=1
print(correct)
print(correct * 100.0/count)
print(count)

Give me the sex with the highest number of confirmed cases in the United States.
Select Sex, Count from db4casesex Order by Count desc limit 0, 1
Female
Female
['Female']
Correct
Give me the sex with the lowest number of confirmed cases in the United States.
Select Sex, Count from db4casesex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the most number of confirmed cases in the United States.
Select Sex, Count from db4casesex Order by Count desc limit 0, 1
Female
Female
['Female']
Correct
Give me the sex with the least number of confirmed cases in the United States.
Select Sex, Count from db4casesex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the highest percentage of confirmed cases in the United States.
Select Sex, Percentage from db4casesex Order by Count desc limit 0, 1
Female
Female
['Female']
Correct
Give me the sex with the lowest percentage of confirmed cases in the United States.
Select Sex, Percentage from db4casesex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the most percentage of confirmed cases in the United States.
Select Sex, Percentage from db4casesex Order by Count desc limit 0, 1
Female
Female
['Female']
Correct
Give me the sex with the least percentage of confirmed cases in the United States.
Select Sex, Percentage from db4casesex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the highest number of deaths in the United States.
Select Sex, Count from db4deathsex Order by Count desc limit 0, 1
Give me the sex with the lowest number of deaths in the United States.
Select Sex, Count from db4deathsex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the most number of deaths in the United States.
Select Sex, Count from db4deathsex Order by Count desc limit 0, 1
Give me the sex with the least number of deaths in the United States.
Select Sex, Count from db4deathsex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the highest percentage of deaths in the United States.
Select Sex, Percentage from db4deathsex Order by Count desc limit 0, 1
Give me the sex with the lowest percentage of deaths in the United States.
Select Sex, Percentage from db4deathsex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the sex with the most percentage of deaths in the United States.
Select Sex, Percentage from db4deathsex Order by Count desc limit 0, 1
Give me the sex with the least percentage of deaths in the United States.
Select Sex, Percentage from db4deathsex Order by Count asc limit 0, 1
Other
Other
['Other']
Correct
Give me the race with the highest number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the lowest number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the race with the most number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the least number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the race with the highest percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the lowest percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count asc limit 0, 1
Give me the race with the most percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the least percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count asc limit 0, 1
Give me the race with the highest number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the lowest number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count asc limit 0, 1
Give me the race with the most number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count desc limit 0, 1
70555, 219286
White Non-Hispanic
['70555', '219286']
Give me the race with the least number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count asc limit 0, 1
Give me the race with the highest percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the lowest percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count asc limit 0, 1
American Indian / Alaska Native Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['American Indian / Alaska Native Non-Hispanic']
Give me the race with the most percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race with the least percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count asc limit 0, 1
American Indian / Alaska Native Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['American Indian / Alaska Native Non-Hispanic']
Give me the age with the highest number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count desc limit 0, 1
85+ Years
18-29 Years
['85+ Years']
Give me the age with the lowest number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age with the most number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count desc limit 0, 1
85+ Years
18-29 Years
['85+ Years']
Give me the age with the least number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age with the highest percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count desc limit 0, 1
18-29 Years
18-29 Years
['18-29 Years']
Correct
Give me the age with the lowest percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age with the most percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count desc limit 0, 1
18-29 Years
18-29 Years
['18-29 Years']
Correct
Give me the age with the least percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age with the highest number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age with the lowest number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age with the most number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age with the least number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age with the highest percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age with the lowest percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count asc limit 0, 1
5-17 Years, 0-4 Years
0-4 Years
['5-17 Years', '0-4 Years']
Correct
Give me the age with the most percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age with the least percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count asc limit 0, 1
5-17 Years, 0-4 Years
0-4 Years
['5-17 Years', '0-4 Years']
Correct
Give me the age group with the highest number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count desc limit 0, 1
85+ Years
18-29 Years
['85+ Years']
Give me the age group with the lowest number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age group with the most number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count desc limit 0, 1
85+ Years
18-29 Years
['85+ Years']
Give me the age group with the least number of confirmed cases in the United States.
Select Age_Group, Count from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age group with the highest percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count desc limit 0, 1
18-29 Years
18-29 Years
['18-29 Years']
Correct
Give me the age group with the lowest percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age group with the most percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count desc limit 0, 1
18-29 Years
18-29 Years
['18-29 Years']
Correct
Give me the age group with the least percentage of confirmed cases in the United States.
Select Age_Group, Percentage from db4caseage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age group with the highest number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age group with the lowest number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age group with the most number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age group with the least number of deaths in the United States.
Select Age_Group, Count from db4deathage Order by Count asc limit 0, 1
0-4 Years
0-4 Years
['0-4 Years']
Correct
Give me the age group with the highest percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age group with the lowest percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count asc limit 0, 1
5-17 Years, 0-4 Years
0-4 Years
['5-17 Years', '0-4 Years']
Correct
Give me the age group with the most percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count desc limit 0, 1
85+ Years
85+ Years
['85+ Years']
Correct
Give me the age group with the least percentage of deaths in the United States.
Select Age_Group, Percentage from db4deathage Order by Count asc limit 0, 1
5-17 Years, 0-4 Years
0-4 Years
['5-17 Years', '0-4 Years']
Correct
Give me the race and ethnicity with the highest number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the lowest number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the race and ethnicity with the most number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the least number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count asc limit 0, 1
Give me the race and ethnicity with the highest percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the lowest percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count asc limit 0, 1
Hispanic/Latino
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the most percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the least percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count asc limit 0, 1
Give me the race and ethnicity with the highest number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the lowest number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the race and ethnicity with the most number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the least number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the race and ethnicity with the highest percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the lowest percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count asc limit 0, 1
Give me the race and ethnicity with the most percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the race and ethnicity with the least percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the ethnicity with the highest number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the ethnicity with the lowest number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the ethnicity with the most number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the ethnicity with the least number of confirmed cases in the United States.
Select Race_Ethnicity, Count from db4caserace Order by Count asc limit 0, 1
Native Hawaiian / Other Pacific Islander Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['Native Hawaiian / Other Pacific Islander Non-Hispanic']
Correct
Give me the ethnicity with the highest percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the ethnicity with the lowest percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count asc limit 0, 1
Give me the ethnicity with the most percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the ethnicity with the least percentage of confirmed cases in the United States.
Select Race_Ethnicity, Percentage from db4caserace Order by Count asc limit 0, 1
American Indian / Alaska Native Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['American Indian / Alaska Native Non-Hispanic']
Give me the ethnicity with the highest number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the ethnicity with the lowest number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count asc limit 0, 1
Give me the ethnicity with the most number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino, White Non-Hispanic
White Non-Hispanic
['Hispanic/Latino', 'White Non-Hispanic']
Correct
Give me the ethnicity with the least number of deaths in the United States.
Select Race_Ethnicity, Count from db4deathrace Order by Count asc limit 0, 1
Give me the ethnicity with the highest percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count desc limit 0, 1
Hispanic/Latino
White Non-Hispanic
['Hispanic/Latino']
Give me the ethnicity with the lowest percentage of deaths in the United States.
Select Race_Ethnicity, Percentage from db4deathrace Order by Count asc limit 0, 1
American Indian / Alaska Native Non-Hispanic
Native Hawaiian / Other Pacific Islander Non-Hispanic
['American Indian / Alaska Native Non-Hispanic']

In [ ]:
#6q1
with open("6q1newdata.json") as f: 
    tapas_data_6q1 = json.load(f)
len(tapas_data_6q1)

201

In [ ]:
import datetime
from datetime import date, timedelta
count = 0
correct = 0
date_check = 0
for i in range(len(data)): 
    if data[str(i+1)][0]['question_template_id'] == '6q1':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        if "Cameroon" in q: 
            continue
        if '1st, January' in q or '2nd, January' in q or '3rd, January' in q or '4th, January' in q or '5th, January' in q or '6th, January' in q:
            continue
        query = data[str(i+1)][0]['sql']
        query = query.replace("Mauritania", "Mauritania - tests performed")
        query_split = query.split(" ")[-5:]
        print(q)
        print(ent)
        print(query.split(" ")[-5:])
        print(query_split[3][0:2])
        rep = ""
        for i in query_split: 
            rep = rep + i + " " 
        if ent[2] == 'January': 
            curr_date = '2021-01-' + query_split[3][0:2]
        elif ent[2] == 'February':
            curr_date = '2021-02-' + query_split[3][0:2]
        elif ent[2] == 'March':
            curr_date = '2021-03-' + query_split[3][0:2]
        elif ent[2] == 'April': 
            curr_date = '2020-04-' + query_split[3][0:2]
        elif ent[2] == 'May': 
            curr_date = '2020-05-' + query_split[3][0:2]
        elif ent[2] == 'June':
            curr_date = '2020-06-' + query_split[3][0:2]
        elif ent[2] == 'July':
            curr_date = '2020-07-' + query_split[3][0:2]
        else: 
            curr_date = '2020-08-' + query_split[3][0:2]
        print(rep[:-1])
        print(curr_date)
        query = query.replace(rep[:-1], "Date = '" + curr_date + "'")
        print(query)
        c.execute(query)
        res = c.fetchall()
        print(res)

        print(tapas_data_6q1[q])
        temp = tapas_data_6q1[q].split(", ")
        print(res[0][0])
        print(temp)
        count1 = 0
        check = False
        for i in temp: 
            if count1 >= 2:
                break
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
            count1 +=1
        if check == True: 
            correct += 1
            print("Correct")
        count +=1
print(correct)
print(correct * 100.0/count)
print(count)

What are the number of total tests done by Mauritania in 7th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '07,', "2020'"]
07
Date = 'Jan 07, 2020'
2021-01-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-07'
[(160655.0,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
160655.0
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
What are the number of total tests done by Mauritania in 8th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '08,', "2020'"]
08
Date = 'Jan 08, 2020'
2021-01-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-08'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 9th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '09,', "2020'"]
09
Date = 'Jan 09, 2020'
2021-01-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-09'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 10th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '10,', "2020'"]
10
Date = 'Jan 10, 2020'
2021-01-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-10'
[(164521.0,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
164521.0
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
What are the number of total tests done by Mauritania in 11th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '11,', "2020'"]
11
Date = 'Jan 11, 2020'
2021-01-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-11'
[(165716.0,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
165716.0
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
What are the number of total tests done by Mauritania in 12th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '12,', "2020'"]
12
Date = 'Jan 12, 2020'
2021-01-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-12'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 13th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '13,', "2020'"]
13
Date = 'Jan 13, 2020'
2021-01-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-13'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 17th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '17,', "2020'"]
17
Date = 'Jan 17, 2020'
2021-01-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-17'
[(173801.0,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
173801.0
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
What are the number of total tests done by Mauritania in 18th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '18,', "2020'"]
18
Date = 'Jan 18, 2020'
2021-01-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-18'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 19th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '19,', "2020'"]
19
Date = 'Jan 19, 2020'
2021-01-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-19'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 20th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '20,', "2020'"]
20
Date = 'Jan 20, 2020'
2021-01-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-20'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 27th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '27,', "2020'"]
27
Date = 'Jan 27, 2020'
2021-01-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-27'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 28th, January?
['total tests', 'Mauritania', 'January']
['Date', '=', "'Jan", '28,', "2020'"]
28
Date = 'Jan 28, 2020'
2021-01-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-01-28'
[(None,)]
nan, nan, nan, nan, 170574.0, nan, nan, nan, nan, 164521.0, nan, nan, nan, 183648.0, 165716.0, 178831.0, nan, nan, nan, nan, 160655.0, 173801.0
None
['nan', 'nan', 'nan', 'nan', '170574.0', 'nan', 'nan', 'nan', 'nan', '164521.0', 'nan', 'nan', 'nan', '183648.0', '165716.0', '178831.0', 'nan', 'nan', 'nan', 'nan', '160655.0', '173801.0']
Correct
What are the number of total tests done by Mauritania in 1st, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '01,', "2020'"]
01
Date = 'Feb 01, 2020'
2021-02-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-01'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 2nd, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '02,', "2020'"]
02
Date = 'Feb 02, 2020'
2021-02-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-02'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 3rd, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '03,', "2020'"]
03
Date = 'Feb 03, 2020'
2021-02-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-03'

[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 4th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '04,', "2020'"]
04
Date = 'Feb 04, 2020'
2021-02-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-04'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 5th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '05,', "2020'"]
05
Date = 'Feb 05, 2020'
2021-02-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-05'
[(194127.0,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
194127.0
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
What are the number of total tests done by Mauritania in 6th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '06,', "2020'"]
06
Date = 'Feb 06, 2020'
2021-02-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-06'
[(194801.0,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
194801.0
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
What are the number of total tests done by Mauritania in 7th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '07,', "2020'"]
07
Date = 'Feb 07, 2020'
2021-02-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-07'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 8th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '08,', "2020'"]
08
Date = 'Feb 08, 2020'
2021-02-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-08'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 9th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '09,', "2020'"]
09
Date = 'Feb 09, 2020'
2021-02-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-09'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 10th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '10,', "2020'"]
10
Date = 'Feb 10, 2020'
2021-02-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-10'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 11th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '11,', "2020'"]
11
Date = 'Feb 11, 2020'
2021-02-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-11'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 12th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '12,', "2020'"]
12
Date = 'Feb 12, 2020'
2021-02-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-12'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 13th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '13,', "2020'"]
13
Date = 'Feb 13, 2020'
2021-02-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-13'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 14th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '14,', "2020'"]
14
Date = 'Feb 14, 2020'
2021-02-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-14'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 15th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '15,', "2020'"]
15
Date = 'Feb 15, 2020'
2021-02-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-15'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 16th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '16,', "2020'"]
16
Date = 'Feb 16, 2020'
2021-02-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-16'
[(204492.0,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
204492.0
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
What are the number of total tests done by Mauritania in 17th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '17,', "2020'"]
17
Date = 'Feb 17, 2020'
2021-02-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-17'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 18th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '18,', "2020'"]
18
Date = 'Feb 18, 2020'
2021-02-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-18'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 19th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '19,', "2020'"]
19
Date = 'Feb 19, 2020'
2021-02-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-19'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 20th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '20,', "2020'"]
20
Date = 'Feb 20, 2020'
2021-02-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-20'

[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 21st, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '21,', "2020'"]
21
Date = 'Feb 21, 2020'
2021-02-21
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-21'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 22nd, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '22,', "2020'"]
22
Date = 'Feb 22, 2020'
2021-02-22
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-22'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 23rd, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '23,', "2020'"]
23
Date = 'Feb 23, 2020'
2021-02-23
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-23'
[(212206.0,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
212206.0
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
What are the number of total tests done by Mauritania in 24th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '24,', "2020'"]
24
Date = 'Feb 24, 2020'
2021-02-24
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-24'
[(None,)]
194127.0, 194801.0
None
['194127.0', '194801.0']
What are the number of total tests done by Mauritania in 25th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '25,', "2020'"]
25
Date = 'Feb 25, 2020'
2021-02-25
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-25'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 26th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '26,', "2020'"]
26
Date = 'Feb 26, 2020'
2021-02-26
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-26'
[(None,)]
194127.0
None
['194127.0']
What are the number of total tests done by Mauritania in 27th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '27,', "2020'"]
27
Date = 'Feb 27, 2020'
2021-02-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-27'
[(None,)]
194127.0
None
['194127.0']
What are the number of total tests done by Mauritania in 28th, February?
['total tests', 'Mauritania', 'February']
['Date', '=', "'Feb", '28,', "2020'"]
28
Date = 'Feb 28, 2020'
2021-02-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-02-28'
[(None,)]
nan, nan, nan, nan, nan, nan, nan, nan, nan, 212206.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 194127.0, nan, 204492.0, nan, nan, nan, 194801.0, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '212206.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '194127.0', 'nan', '204492.0', 'nan', 'nan', 'nan', '194801.0', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 1st, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '01,', "2020'"]
01
Date = 'Mar 01, 2020'
2021-03-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-01'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 2nd, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '02,', "2020'"]
02
Date = 'Mar 02, 2020'
2021-03-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-02'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 3rd, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '03,', "2020'"]
03
Date = 'Mar 03, 2020'
2021-03-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-03'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 4th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '04,', "2020'"]
04
Date = 'Mar 04, 2020'
2021-03-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-04'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 5th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '05,', "2020'"]
05
Date = 'Mar 05, 2020'
2021-03-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-05'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 6th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '06,', "2020'"]
06
Date = 'Mar 06, 2020'
2021-03-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-06'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 7th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '07,', "2020'"]
07
Date = 'Mar 07, 2020'
2021-03-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-07'
[(224222.0,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
224222.0
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
What are the number of total tests done by Mauritania in 8th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '08,', "2020'"]
08
Date = 'Mar 08, 2020'
2021-03-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-08'
[(None,)]
233820.0
None
['233820.0']
What are the number of total tests done by Mauritania in 9th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '09,', "2020'"]
09
Date = 'Mar 09, 2020'
2021-03-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-09'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 10th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '10,', "2020'"]
10
Date = 'Mar 10, 2020'
2021-03-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-10'

[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 11th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '11,', "2020'"]
11
Date = 'Mar 11, 2020'
2021-03-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-11'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 12th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '12,', "2020'"]
12
Date = 'Mar 12, 2020'
2021-03-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-12'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 13th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '13,', "2020'"]
13
Date = 'Mar 13, 2020'
2021-03-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-13'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 14th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '14,', "2020'"]
14
Date = 'Mar 14, 2020'
2021-03-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-14'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 15th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '15,', "2020'"]
15
Date = 'Mar 15, 2020'
2021-03-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-15'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 16th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '16,', "2020'"]
16
Date = 'Mar 16, 2020'
2021-03-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-16'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 17th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '17,', "2020'"]
17
Date = 'Mar 17, 2020'
2021-03-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-17'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 18th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '18,', "2020'"]
18
Date = 'Mar 18, 2020'
2021-03-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-18'
[(233820.0,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
233820.0
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
What are the number of total tests done by Mauritania in 19th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '19,', "2020'"]
19
Date = 'Mar 19, 2020'
2021-03-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-19'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 20th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '20,', "2020'"]
20
Date = 'Mar 20, 2020'
2021-03-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-20'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 21st, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '21,', "2020'"]
21
Date = 'Mar 21, 2020'
2021-03-21
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-21'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 22nd, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '22,', "2020'"]
22
Date = 'Mar 22, 2020'
2021-03-22
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-22'
[(None,)]
224222.0
None
['224222.0']
What are the number of total tests done by Mauritania in 23rd, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '23,', "2020'"]
23
Date = 'Mar 23, 2020'
2021-03-23
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-23'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 24th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '24,', "2020'"]
24
Date = 'Mar 24, 2020'
2021-03-24
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-24'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 25th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '25,', "2020'"]
25
Date = 'Mar 25, 2020'
2021-03-25
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-25'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 26th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '26,', "2020'"]
26
Date = 'Mar 26, 2020'
2021-03-26
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-26'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 27th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '27,', "2020'"]
27
Date = 'Mar 27, 2020'
2021-03-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-27'

[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 28th, March?
['total tests', 'Mauritania', 'March']
['Date', '=', "'Mar", '28,', "2020'"]
28
Date = 'Mar 28, 2020'
2021-03-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2021-03-28'
[(None,)]
nan, nan, nan, nan, 224222.0, nan, nan, nan, nan, nan, nan, 233820.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', '224222.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '233820.0', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
What are the number of total tests done by Mauritania in 1st, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '01,', "2020'"]
01
Date = 'Apr 01, 2020'
2020-04-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-01'
[(63.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
63.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 2nd, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '02,', "2020'"]
02
Date = 'Apr 02, 2020'
2020-04-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-02'
[(67.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
67.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 3rd, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '03,', "2020'"]
03
Date = 'Apr 03, 2020'
2020-04-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-03'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 4th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '04,', "2020'"]
04
Date = 'Apr 04, 2020'
2020-04-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-04'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 5th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '05,', "2020'"]
05
Date = 'Apr 05, 2020'
2020-04-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-05'
[(79.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
79.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 6th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '06,', "2020'"]
06
Date = 'Apr 06, 2020'
2020-04-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-06'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 7th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '07,', "2020'"]
07
Date = 'Apr 07, 2020'
2020-04-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-07'
[(114.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
114.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 8th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '08,', "2020'"]
08
Date = 'Apr 08, 2020'
2020-04-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-08'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 9th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '09,', "2020'"]
09
Date = 'Apr 09, 2020'
2020-04-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-09'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 10th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '10,', "2020'"]
10
Date = 'Apr 10, 2020'
2020-04-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-10'
[(380.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
380.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 11th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '11,', "2020'"]
11
Date = 'Apr 11, 2020'
2020-04-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-11'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 12th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '12,', "2020'"]
12
Date = 'Apr 12, 2020'
2020-04-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-12'
[(487.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
487.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
Correct
What are the number of total tests done by Mauritania in 13th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '13,', "2020'"]
13
Date = 'Apr 13, 2020'
2020-04-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-13'
[(527.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
527.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 14th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '14,', "2020'"]
14
Date = 'Apr 14, 2020'
2020-04-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-14'
[(594.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
594.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 15th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '15,', "2020'"]
15
Date = 'Apr 15, 2020'
2020-04-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-15'
[(713.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
713.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 16th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '16,', "2020'"]
16
Date = 'Apr 16, 2020'
2020-04-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-16'

[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 17th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '17,', "2020'"]
17
Date = 'Apr 17, 2020'
2020-04-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-17'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 18th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '18,', "2020'"]
18
Date = 'Apr 18, 2020'
2020-04-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-18'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 19th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '19,', "2020'"]
19
Date = 'Apr 19, 2020'
2020-04-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-19'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 20th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '20,', "2020'"]
20
Date = 'Apr 20, 2020'
2020-04-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-20'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 21st, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '21,', "2020'"]
21
Date = 'Apr 21, 2020'
2020-04-21
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-21'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 22nd, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '22,', "2020'"]
22
Date = 'Apr 22, 2020'
2020-04-22
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-22'
[(988.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
988.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
Correct
What are the number of total tests done by Mauritania in 23rd, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '23,', "2020'"]
23
Date = 'Apr 23, 2020'
2020-04-23
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-23'
[(1032.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
1032.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 24th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '24,', "2020'"]
24
Date = 'Apr 24, 2020'
2020-04-24
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-24'
[(1209.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
1209.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 25th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '25,', "2020'"]
25
Date = 'Apr 25, 2020'
2020-04-25
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-25'
[(1302.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
1302.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 26th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '26,', "2020'"]
26
Date = 'Apr 26, 2020'
2020-04-26
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-26'
[(None,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
None
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 27th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '27,', "2020'"]
27
Date = 'Apr 27, 2020'
2020-04-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-27'
[(1560.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
1560.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 28th, April?
['total tests', 'Mauritania', 'April']
['Date', '=', "'Apr", '28,', "2020'"]
28
Date = 'Apr 28, 2020'
2020-04-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-04-28'
[(1615.0,)]
487.0, 988.0, nan, 1560.0, 114.0, 1615.0, nan, 67.0, 527.0, 1032.0, 1209.0, nan, nan, nan, 594.0, nan, nan, nan, 1302.0, 79.0, 713.0, nan, 380.0, nan, nan, nan, 63.0, nan
1615.0
['487.0', '988.0', 'nan', '1560.0', '114.0', '1615.0', 'nan', '67.0', '527.0', '1032.0', '1209.0', 'nan', 'nan', 'nan', '594.0', 'nan', 'nan', 'nan', '1302.0', '79.0', '713.0', 'nan', '380.0', 'nan', 'nan', 'nan', '63.0', 'nan']
What are the number of total tests done by Mauritania in 1st, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '01,', "2020'"]
01
Date = 'May 01, 2020'
2020-05-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-01'
[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 2nd, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '02,', "2020'"]
02
Date = 'May 02, 2020'
2020-05-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-02'
[(1720.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
1720.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 3rd, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '03,', "2020'"]
03
Date = 'May 03, 2020'
2020-05-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-03'
[(1748.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
1748.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 4th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '04,', "2020'"]
04
Date = 'May 04, 2020'
2020-05-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-04'
[(1759.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
1759.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 5th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '05,', "2020'"]
05
Date = 'May 05, 2020'
2020-05-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-05'

[(1842.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
1842.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 6th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '06,', "2020'"]
06
Date = 'May 06, 2020'
2020-05-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-06'
[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 7th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '07,', "2020'"]
07
Date = 'May 07, 2020'
2020-05-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-07'
[(1903.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
1903.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 8th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '08,', "2020'"]
08
Date = 'May 08, 2020'
2020-05-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-08'
[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 9th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '09,', "2020'"]
09
Date = 'May 09, 2020'
2020-05-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-09'
[(1954.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
1954.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 10th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '10,', "2020'"]
10
Date = 'May 10, 2020'
2020-05-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-10'
[(2009.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2009.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 11th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '11,', "2020'"]
11
Date = 'May 11, 2020'
2020-05-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-11'
[(2015.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2015.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 12th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '12,', "2020'"]
12
Date = 'May 12, 2020'
2020-05-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-12'
[(2027.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2027.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 13th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '13,', "2020'"]
13
Date = 'May 13, 2020'
2020-05-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-13'
[(2032.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2032.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 14th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '14,', "2020'"]
14
Date = 'May 14, 2020'
2020-05-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-14'
[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 15th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '15,', "2020'"]
15
Date = 'May 15, 2020'
2020-05-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-15'
[(2217.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2217.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 16th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '16,', "2020'"]
16
Date = 'May 16, 2020'
2020-05-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-16'
[(2289.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2289.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 17th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '17,', "2020'"]
17
Date = 'May 17, 2020'
2020-05-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-17'
[(2583.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2583.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 18th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '18,', "2020'"]
18
Date = 'May 18, 2020'
2020-05-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-18'
[(2728.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2728.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 19th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '19,', "2020'"]
19
Date = 'May 19, 2020'
2020-05-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-19'
[(2898.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
2898.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 20th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '20,', "2020'"]
20
Date = 'May 20, 2020'
2020-05-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-20'
[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 21st, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '21,', "2020'"]
21
Date = 'May 21, 2020'
2020-05-21
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-21'
[(3825.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
3825.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 22nd, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '22,', "2020'"]
22
Date = 'May 22, 2020'
2020-05-22
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-22'

[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 23rd, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '23,', "2020'"]
23
Date = 'May 23, 2020'
2020-05-23
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-23'
[(4723.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
4723.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 24th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '24,', "2020'"]
24
Date = 'May 24, 2020'
2020-05-24
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-24'
[(4886.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
4886.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 25th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '25,', "2020'"]
25
Date = 'May 25, 2020'
2020-05-25
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-25'
[(5504.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
5504.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 26th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '26,', "2020'"]
26
Date = 'May 26, 2020'
2020-05-26
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-26'
[(None,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
None
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
Correct
What are the number of total tests done by Mauritania in 27th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '27,', "2020'"]
27
Date = 'May 27, 2020'
2020-05-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-27'
[(6335.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
6335.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 28th, May?
['total tests', 'Mauritania', 'May']
['Date', '=', "'May", '28,', "2020'"]
28
Date = 'May 28, 2020'
2020-05-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-05-28'
[(6622.0,)]
2027.0, nan, 2583.0, 6335.0, 1903.0, 6622.0, nan, 1720.0, 2032.0, 4723.0, 4886.0, 2728.0, 1748.0, 1759.0, nan, 1954.0, 2898.0, nan, 5504.0, 1842.0, 2217.0, 2289.0, 2009.0, 3825.0, nan, nan, nan, 2015.0
6622.0
['2027.0', 'nan', '2583.0', '6335.0', '1903.0', '6622.0', 'nan', '1720.0', '2032.0', '4723.0', '4886.0', '2728.0', '1748.0', '1759.0', 'nan', '1954.0', '2898.0', 'nan', '5504.0', '1842.0', '2217.0', '2289.0', '2009.0', '3825.0', 'nan', 'nan', 'nan', '2015.0']
What are the number of total tests done by Mauritania in 1st, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '01,', "2020'"]
01
Date = 'Jun 01, 2020'
2020-06-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-01'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 2nd, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '02,', "2020'"]
02
Date = 'Jun 02, 2020'
2020-06-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-02'
[(9536.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
9536.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 3rd, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '03,', "2020'"]
03
Date = 'Jun 03, 2020'
2020-06-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-03'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 4th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '04,', "2020'"]
04
Date = 'Jun 04, 2020'
2020-06-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-04'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 5th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '05,', "2020'"]
05
Date = 'Jun 05, 2020'
2020-06-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-05'
[(10427.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
10427.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 6th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '06,', "2020'"]
06
Date = 'Jun 06, 2020'
2020-06-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-06'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 7th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '07,', "2020'"]
07
Date = 'Jun 07, 2020'
2020-06-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-07'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 8th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '08,', "2020'"]
08
Date = 'Jun 08, 2020'
2020-06-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-08'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 9th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '09,', "2020'"]
09
Date = 'Jun 09, 2020'
2020-06-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-09'
[(12353.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
12353.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 10th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '10,', "2020'"]
10
Date = 'Jun 10, 2020'
2020-06-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-10'
[(12851.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
12851.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 11th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '11,', "2020'"]
11
Date = 'Jun 11, 2020'
2020-06-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-11'
[(13842.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
13842.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 12th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '12,', "2020'"]
12
Date = 'Jun 12, 2020'
2020-06-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-12'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 13th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '13,', "2020'"]
13

Date = 'Jun 13, 2020'
2020-06-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-13'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 14th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '14,', "2020'"]
14
Date = 'Jun 14, 2020'
2020-06-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-14'
[(16651.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
16651.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 15th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '15,', "2020'"]
15
Date = 'Jun 15, 2020'
2020-06-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-15'
[(17282.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
17282.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 16th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '16,', "2020'"]
16
Date = 'Jun 16, 2020'
2020-06-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-16'
[(18350.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
18350.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 17th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '17,', "2020'"]
17
Date = 'Jun 17, 2020'
2020-06-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-17'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 18th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '18,', "2020'"]
18
Date = 'Jun 18, 2020'
2020-06-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-18'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 19th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '19,', "2020'"]
19
Date = 'Jun 19, 2020'
2020-06-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-19'
[(24407.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
24407.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 20th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '20,', "2020'"]
20
Date = 'Jun 20, 2020'
2020-06-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-20'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 21st, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '21,', "2020'"]
21
Date = 'Jun 21, 2020'
2020-06-21
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-21'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 22nd, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '22,', "2020'"]
22
Date = 'Jun 22, 2020'
2020-06-22
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-22'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 23rd, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '23,', "2020'"]
23
Date = 'Jun 23, 2020'
2020-06-23
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-23'
[(31467.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
31467.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 24th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '24,', "2020'"]
24
Date = 'Jun 24, 2020'
2020-06-24
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-24'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 25th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '25,', "2020'"]
25
Date = 'Jun 25, 2020'
2020-06-25
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-25'
[(35765.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
35765.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 26th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '26,', "2020'"]
26
Date = 'Jun 26, 2020'
2020-06-26
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-26'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 27th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '27,', "2020'"]
27
Date = 'Jun 27, 2020'
2020-06-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-27'
[(None,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
None
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
Correct
What are the number of total tests done by Mauritania in 28th, June?
['total tests', 'Mauritania', 'June']
['Date', '=', "'Jun", '28,', "2020'"]
28
Date = 'Jun 28, 2020'
2020-06-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-06-28'
[(39398.0,)]
nan, nan, nan, nan, nan, 39398.0, nan, 9536.0, nan, 31467.0, nan, nan, nan, nan, 16651.0, 12353.0, 24407.0, nan, 35765.0, 10427.0, 17282.0, 18350.0, 12851.0, nan, nan, nan, nan, 13842.0
39398.0
['nan', 'nan', 'nan', 'nan', 'nan', '39398.0', 'nan', '9536.0', 'nan', '31467.0', 'nan', 'nan', 'nan', 'nan', '16651.0', '12353.0', '24407.0', 'nan', '35765.0', '10427.0', '17282.0', '18350.0', '12851.0', 'nan', 'nan', 'nan', 'nan', '13842.0']
What are the number of total tests done by Mauritania in 1st, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '01,', "2020'"]
01
Date = 'Jul 01, 2020'
2020-07-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-01'

[(41862.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
41862.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 2nd, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '02,', "2020'"]
02
Date = 'Jul 02, 2020'
2020-07-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-02'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 3rd, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '03,', "2020'"]
03
Date = 'Jul 03, 2020'
2020-07-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-03'
[(43602.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
43602.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 4th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '04,', "2020'"]
04
Date = 'Jul 04, 2020'
2020-07-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-04'
[(44350.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
44350.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 5th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '05,', "2020'"]
05
Date = 'Jul 05, 2020'
2020-07-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-05'
[(44713.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
44713.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 6th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '06,', "2020'"]
06
Date = 'Jul 06, 2020'
2020-07-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-06'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 7th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '07,', "2020'"]
07
Date = 'Jul 07, 2020'
2020-07-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-07'
[(46505.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
46505.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 8th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '08,', "2020'"]
08
Date = 'Jul 08, 2020'
2020-07-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-08'
[(47355.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
47355.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 9th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '09,', "2020'"]
09
Date = 'Jul 09, 2020'
2020-07-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-09'
[(48037.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
48037.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 10th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '10,', "2020'"]
10
Date = 'Jul 10, 2020'
2020-07-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-10'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 11th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '11,', "2020'"]
11
Date = 'Jul 11, 2020'
2020-07-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-11'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 12th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '12,', "2020'"]
12
Date = 'Jul 12, 2020'
2020-07-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-12'
[(50529.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
50529.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
Correct
What are the number of total tests done by Mauritania in 13th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '13,', "2020'"]
13
Date = 'Jul 13, 2020'
2020-07-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-13'
[(51295.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
51295.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 14th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '14,', "2020'"]
14
Date = 'Jul 14, 2020'
2020-07-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-14'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 15th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '15,', "2020'"]
15
Date = 'Jul 15, 2020'
2020-07-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-15'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 16th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '16,', "2020'"]
16
Date = 'Jul 16, 2020'
2020-07-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-16'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 17th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '17,', "2020'"]
17
Date = 'Jul 17, 2020'
2020-07-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-17'

[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 18th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '18,', "2020'"]
18
Date = 'Jul 18, 2020'
2020-07-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-18'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 19th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '19,', "2020'"]
19
Date = 'Jul 19, 2020'
2020-07-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-19'
[(55873.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
55873.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 20th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '20,', "2020'"]
20
Date = 'Jul 20, 2020'
2020-07-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-20'
[(56615.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
56615.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 21st, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '21,', "2020'"]
21
Date = 'Jul 21, 2020'
2020-07-21
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-21'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 22nd, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '22,', "2020'"]
22
Date = 'Jul 22, 2020'
2020-07-22
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-22'
[(57847.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
57847.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
Correct
What are the number of total tests done by Mauritania in 23rd, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '23,', "2020'"]
23
Date = 'Jul 23, 2020'
2020-07-23
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-23'
[(58285.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
58285.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 24th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '24,', "2020'"]
24
Date = 'Jul 24, 2020'
2020-07-24
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-24'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 25th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '25,', "2020'"]
25
Date = 'Jul 25, 2020'
2020-07-25
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-25'
[(59172.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
59172.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 26th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '26,', "2020'"]
26
Date = 'Jul 26, 2020'
2020-07-26
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-26'
[(59566.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
59566.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 27th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '27,', "2020'"]
27
Date = 'Jul 27, 2020'
2020-07-27
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-27'
[(None,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
None
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 28th, July?
['total tests', 'Mauritania', 'July']
['Date', '=', "'Jul", '28,', "2020'"]
28
Date = 'Jul 28, 2020'
2020-07-28
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-07-28'
[(61293.0,)]
50529.0, 57847.0, nan, nan, 46505.0, 61293.0, 47355.0, nan, 51295.0, 58285.0, nan, nan, 43602.0, 44350.0, nan, 48037.0, 55873.0, 56615.0, 59172.0, 44713.0, nan, nan, nan, nan, 59566.0, nan, 41862.0, nan
61293.0
['50529.0', '57847.0', 'nan', 'nan', '46505.0', '61293.0', '47355.0', 'nan', '51295.0', '58285.0', 'nan', 'nan', '43602.0', '44350.0', 'nan', '48037.0', '55873.0', '56615.0', '59172.0', '44713.0', 'nan', 'nan', 'nan', 'nan', '59566.0', 'nan', '41862.0', 'nan']
What are the number of total tests done by Mauritania in 1st, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '01,', "2020'"]
01
Date = 'Aug 01, 2020'
2020-08-01
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-01'
[(None,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
None
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
Correct
What are the number of total tests done by Mauritania in 2nd, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '02,', "2020'"]
02
Date = 'Aug 02, 2020'
2020-08-02
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-02'
[(63494.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
63494.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 3rd, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '03,', "2020'"]
03
Date = 'Aug 03, 2020'
2020-08-03
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-03'
[(63874.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
63874.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 4th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '04,', "2020'"]
04
Date = 'Aug 04, 2020'
2020-08-04
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-04'
[(None,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
None
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
Correct
What are the number of total tests done by Mauritania in 5th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '05,', "2020'"]
05
Date = 'Aug 05, 2020'
2020-08-05
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-05'
[(64723.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
64723.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 6th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '06,', "2020'"]
06
Date = 'Aug 06, 2020'
2020-08-06
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-06'
[(65238.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
65238.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 7th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '07,', "2020'"]
07
Date = 'Aug 07, 2020'

2020-08-07
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-07'
[(65578.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
65578.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 8th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '08,', "2020'"]
08
Date = 'Aug 08, 2020'
2020-08-08
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-08'
[(65798.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
65798.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 9th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '09,', "2020'"]
09
Date = 'Aug 09, 2020'
2020-08-09
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-09'
[(65952.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
65952.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 10th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '10,', "2020'"]
10
Date = 'Aug 10, 2020'
2020-08-10
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-10'
[(66169.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
66169.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 11th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '11,', "2020'"]
11
Date = 'Aug 11, 2020'
2020-08-11
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-11'
[(66540.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
66540.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 12th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '12,', "2020'"]
12
Date = 'Aug 12, 2020'
2020-08-12
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-12'
[(67083.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
67083.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
Correct
What are the number of total tests done by Mauritania in 13th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '13,', "2020'"]
13
Date = 'Aug 13, 2020'
2020-08-13
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-13'
[(67415.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
67415.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 14th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '14,', "2020'"]
14
Date = 'Aug 14, 2020'
2020-08-14
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-14'
[(67832.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
67832.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 15th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '15,', "2020'"]
15
Date = 'Aug 15, 2020'
2020-08-15
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-15'
[(67962.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
67962.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 16th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '16,', "2020'"]
16
Date = 'Aug 16, 2020'
2020-08-16
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-16'
[(68086.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
68086.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 17th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '17,', "2020'"]
17
Date = 'Aug 17, 2020'
2020-08-17
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-17'
[(68492.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
68492.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 18th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '18,', "2020'"]
18
Date = 'Aug 18, 2020'
2020-08-18
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-18'
[(68872.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
68872.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 19th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '19,', "2020'"]
19
Date = 'Aug 19, 2020'
2020-08-19
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-19'
[(69284.0,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
69284.0
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
What are the number of total tests done by Mauritania in 20th, August?
['total tests', 'Mauritania', 'August']
['Date', '=', "'Aug", '20,', "2020'"]
20
Date = 'Aug 20, 2020'
2020-08-20
Select Total from db6 where Entity = "Mauritania - tests performed" and Date = '2020-08-20'
[(None,)]
67083.0, nan, 68492.0, nan, 65578.0, nan, 65798.0, 63494.0, 67415.0, nan, nan, 68872.0, 63874.0, nan, 67832.0, 65952.0, 69284.0, nan, nan, 64723.0, 67962.0, 68086.0, 66169.0, nan, nan, 65238.0, nan, 66540.0
None
['67083.0', 'nan', '68492.0', 'nan', '65578.0', 'nan', '65798.0', '63494.0', '67415.0', 'nan', 'nan', '68872.0', '63874.0', 'nan', '67832.0', '65952.0', '69284.0', 'nan', 'nan', '64723.0', '67962.0', '68086.0', '66169.0', 'nan', 'nan', '65238.0', 'nan', '66540.0']
Correct
86
42.78606965174129
201

In [4]:
#2q8
with open("2q8data.json") as f: 
    tapas_data_2q8 = json.load(f)
len(tapas_data_2q8)

267

In [6]:
import datetime
from datetime import date, timedelta
count = 0
count2 = 0 
correct = 0
for i in range(len(data)): 
     if data[str(i+1)][0]['question_template_id'] == '2q8':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        if q not in tapas_data_2q8.keys():
            continue
        query = data[str(i+1)][0]['sql']
        if "African-American" in q: 
            query = query.replace("LatinX", "Black")
        if "LatinX" in query: 
            query = query.replace("LatinX", "Latinx")
        day = query.split(" ")[7].replace("'", "")
        day = int(day[-2:])
        test_date = date(2021, 1, day)
        if test_date.weekday() <= 2: 
            test_date = test_date + timedelta(days=2-test_date.weekday())
        else: 
            test_date = test_date + timedelta(days=6-test_date.weekday())
        day = query.split(" ")[7].replace("'", "")
        query = query.replace(day, test_date.strftime("%Y%m%d"))
        print(q)
        print(ent)
        print(test_date)
        print(query)
        c.execute(query)
        res = c.fetchall()
        print("Query Result:")
        print(res)
        print("Tapas Result:")
        print(tapas_data_2q8[q])
        temp = tapas_data_2q8[q].split(", ")
        print(res[0][0])
        print(temp)
        count1 = 0
        check = False
        for i in temp: 
            if count1 >= 1:
                break
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
                check = True
            count1 +=1
        if check == True: 
            correct += 1
            print("Correct")
        count += 1
print(correct)
print(correct*100.0/280)
print(count)

How many African-American confirmed cases occurred in Ohio in 1st, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-03
Select Cases_Black from db2race where date = '20210103' and state = "OH"
Query Result:
[(40740.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 93394.0, 78994.0
40740.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '93394.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 4th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-06
Select Cases_Black from db2race where date = '20210106' and state = "OH"
Query Result:
[(78994.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 78994.0
78994.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 7th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-10
Select Cases_Black from db2race where date = '20210110' and state = "OH"
Query Result:
[(81661.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 78994.0
81661.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 10th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-10
Select Cases_Black from db2race where date = '20210110' and state = "OH"
Query Result:
[(81661.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 78994.0
81661.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 13th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-13
Select Cases_Black from db2race where date = '20210113' and state = "OH"
Query Result:
[(83865.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 78994.0
83865.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 16th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-17
Select Cases_Black from db2race where date = '20210117' and state = "OH"
Query Result:
[(86298.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 78994.0
86298.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 19th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-20
Select Cases_Black from db2race where date = '20210120' and state = "OH"
Query Result:
[(88139.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 93394.0, 78994.0
88139.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '93394.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 22nd, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-24
Select Cases_Black from db2race where date = '20210124' and state = "OH"
Query Result:
[(90208.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 78994.0
90208.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '78994.0']
How many African-American confirmed cases occurred in Ohio in 25th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-27
Select Cases_Black from db2race where date = '20210127' and state = "OH"
Query Result:
[(91733.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 93394.0, 78994.0
91733.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '93394.0', '78994.0']
Correct
How many African-American confirmed cases occurred in Ohio in 28th, January?
['confirmed cases', 'Ohio', 'African-American', 'January']
2021-01-31
Select Cases_Black from db2race where date = '20210131' and state = "OH"
Query Result:
[(93394.0,)]
Tapas Result:
91733.0, 88139.0, 40740.0, 81661.0, 90208.0, 86298.0, 83865.0, 93394.0, 78994.0
93394.0
['91733.0', '88139.0', '40740.0', '81661.0', '90208.0', '86298.0', '83865.0', '93394.0', '78994.0']
How many Hispanic confirmed cases occurred in Ohio in 3rd, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-03
Select Cases_Latinx from db2race where date = '20210103' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 6th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-06
Select Cases_Latinx from db2race where date = '20210106' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 9th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-10
Select Cases_Latinx from db2race where date = '20210110' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 12th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-13
Select Cases_Latinx from db2race where date = '20210113' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 15th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-17
Select Cases_Latinx from db2race where date = '20210117' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 18th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-20
Select Cases_Latinx from db2race where date = '20210120' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 21st, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-24
Select Cases_Latinx from db2race where date = '20210124' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 24th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-24
Select Cases_Latinx from db2race where date = '20210124' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Hispanic confirmed cases occurred in Ohio in 27th, January?
['confirmed cases', 'Ohio', 'Hispanic', 'January']
2021-01-27
Select Cases_Latinx from db2race where date = '20210127' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
nan, nan, nan, nan, nan, nan, nan, nan, nan
None
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
Correct
How many Latino confirmed cases occurred in Ohio in 2nd, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-03
Select Cases_Latinx from db2race where date = '20210103' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
17724.0, 18934.0, 19930.0, 19402.0, 18189.0
None
['17724.0', '18934.0', '19930.0', '19402.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 5th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-06
Select Cases_Latinx from db2race where date = '20210106' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 18189.0
None
['20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 8th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-10
Select Cases_Latinx from db2race where date = '20210110' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
17724.0, 18934.0, 19930.0, 19402.0, 18189.0
None
['17724.0', '18934.0', '19930.0', '19402.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 11th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-13
Select Cases_Latinx from db2race where date = '20210113' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
21106.0, 20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 18189.0
None
['21106.0', '20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 14th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-17
Select Cases_Latinx from db2race where date = '20210117' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
21106.0, 20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 21480.0, 18189.0
None
['21106.0', '20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '21480.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 17th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-17
Select Cases_Latinx from db2race where date = '20210117' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
21106.0, 20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 18189.0
None
['21106.0', '20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 20th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-20
Select Cases_Latinx from db2race where date = '20210120' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
21106.0, 20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 21480.0, 18189.0
None
['21106.0', '20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '21480.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 23rd, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-24
Select Cases_Latinx from db2race where date = '20210124' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
21106.0, 20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 21480.0, 18189.0
None
['21106.0', '20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '21480.0', '18189.0']
How many Latino confirmed cases occurred in Ohio in 26th, January?
['confirmed cases', 'Ohio', 'Latino', 'January']
2021-01-27
Select Cases_Latinx from db2race where date = '20210127' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
21106.0, 20329.0, 17724.0, 18934.0, 20765.0, 19930.0, 19402.0, 21480.0, 18189.0
None
['21106.0', '20329.0', '17724.0', '18934.0', '20765.0', '19930.0', '19402.0', '21480.0', '18189.0']
How many Black confirmed cases occurred in Ohio in 7th, January?
['confirmed cases', 'Ohio', 'Black', 'January']
2021-01-10
Select Cases_Black from db2race where date = '20210110' and state = "OH"
Query Result:
[(81661.0,)]
Tapas Result:
91733.0
81661.0
['91733.0']
How many Black confirmed cases occurred in Ohio in 22nd, January?
['confirmed cases', 'Ohio', 'Black', 'January']
2021-01-24
Select Cases_Black from db2race where date = '20210124' and state = "OH"
Query Result:
[(90208.0,)]
Tapas Result:
91733.0
90208.0
['91733.0']
How many Black confirmed cases occurred in Ohio in 25th, January?
['confirmed cases', 'Ohio', 'Black', 'January']
2021-01-27
Select Cases_Black from db2race where date = '20210127' and state = "OH"
Query Result:
[(91733.0,)]
Tapas Result:
91733.0
91733.0
['91733.0']
Correct
How many Black confirmed cases occurred in Ohio in 28th, January?
['confirmed cases', 'Ohio', 'Black', 'January']
2021-01-31
Select Cases_Black from db2race where date = '20210131' and state = "OH"
Query Result:
[(93394.0,)]
Tapas Result:
91733.0
93394.0
['91733.0']
How many Asian confirmed cases occurred in Ohio in 3rd, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-03
Select Cases_Asian from db2race where date = '20210103' and state = "OH"
Query Result:
[(10222.0,)]
Tapas Result:
11363.0
10222.0
['11363.0']
How many Asian confirmed cases occurred in Ohio in 6th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-06
Select Cases_Asian from db2race where date = '20210106' and state = "OH"
Query Result:
[(10463.0,)]
Tapas Result:
11363.0
10463.0
['11363.0']
How many Asian confirmed cases occurred in Ohio in 9th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-10
Select Cases_Asian from db2race where date = '20210110' and state = "OH"
Query Result:
[(10808.0,)]
Tapas Result:
11363.0
10808.0
['11363.0']
How many Asian confirmed cases occurred in Ohio in 12th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-13
Select Cases_Asian from db2race where date = '20210113' and state = "OH"
Query Result:
[(11089.0,)]
Tapas Result:
11363.0
11089.0
['11363.0']
How many Asian confirmed cases occurred in Ohio in 15th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-17
Select Cases_Asian from db2race where date = '20210117' and state = "OH"
Query Result:
[(11363.0,)]
Tapas Result:
11363.0
11363.0
['11363.0']
Correct
How many Asian confirmed cases occurred in Ohio in 18th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-20
Select Cases_Asian from db2race where date = '20210120' and state = "OH"
Query Result:
[(11658.0,)]
Tapas Result:
11363.0
11658.0
['11363.0']
How many Asian confirmed cases occurred in Ohio in 21st, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-24
Select Cases_Asian from db2race where date = '20210124' and state = "OH"
Query Result:
[(11975.0,)]
Tapas Result:
11363.0
11975.0
['11363.0']
How many Asian confirmed cases occurred in Ohio in 24th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-24
Select Cases_Asian from db2race where date = '20210124' and state = "OH"
Query Result:
[(11975.0,)]
Tapas Result:
11363.0, 10222.0
11975.0
['11363.0', '10222.0']
How many Asian confirmed cases occurred in Ohio in 27th, January?
['confirmed cases', 'Ohio', 'Asian', 'January']
2021-01-27
Select Cases_Asian from db2race where date = '20210127' and state = "OH"
Query Result:
[(12142.0,)]
Tapas Result:
11363.0
12142.0
['11363.0']
How many American Indian confirmed cases occurred in Ohio in 2nd, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-03
Select Cases_AIAN from db2race where date = '20210103' and state = "OH"
Query Result:
[(812.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
812.0
['812.0', '863.0', '908.0', '886.0', '844.0']
Correct
How many American Indian confirmed cases occurred in Ohio in 5th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-06
Select Cases_AIAN from db2race where date = '20210106' and state = "OH"
Query Result:
[(844.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
844.0
['812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 8th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-10
Select Cases_AIAN from db2race where date = '20210110' and state = "OH"
Query Result:
[(863.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
863.0
['812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 11th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-13
Select Cases_AIAN from db2race where date = '20210113' and state = "OH"
Query Result:
[(886.0,)]
Tapas Result:
931.0, 812.0, 863.0, 908.0, 886.0, 844.0
886.0
['931.0', '812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 14th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-17
Select Cases_AIAN from db2race where date = '20210117' and state = "OH"
Query Result:
[(908.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
908.0
['812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 17th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-17
Select Cases_AIAN from db2race where date = '20210117' and state = "OH"
Query Result:
[(908.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
908.0
['812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 20th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-20
Select Cases_AIAN from db2race where date = '20210120' and state = "OH"
Query Result:
[(931.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
931.0
['812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 23rd, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-24
Select Cases_AIAN from db2race where date = '20210124' and state = "OH"
Query Result:
[(949.0,)]
Tapas Result:
812.0, 863.0, 908.0, 886.0, 844.0
949.0
['812.0', '863.0', '908.0', '886.0', '844.0']
How many American Indian confirmed cases occurred in Ohio in 26th, January?
['confirmed cases', 'Ohio', 'American Indian', 'January']
2021-01-27
Select Cases_AIAN from db2race where date = '20210127' and state = "OH"
Query Result:
[(961.0,)]
Tapas Result:
961.0, 812.0, 863.0, 908.0, 886.0, 844.0
961.0
['961.0', '812.0', '863.0', '908.0', '886.0', '844.0']
Correct
How many White confirmed cases occurred in Ohio in 1st, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-03
Select Cases_White from db2race where date = '20210103' and state = "OH"
Query Result:
[(409049.0,)]
Tapas Result:
423353.0
409049.0
['423353.0']
How many White confirmed cases occurred in Ohio in 4th, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-06
Select Cases_White from db2race where date = '20210106' and state = "OH"
Query Result:
[(423353.0,)]
Tapas Result:
423353.0
423353.0
['423353.0']
Correct
How many White confirmed cases occurred in Ohio in 7th, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-10
Select Cases_White from db2race where date = '20210110' and state = "OH"
Query Result:
[(443518.0,)]
Tapas Result:
423353.0
443518.0
['423353.0']
How many White confirmed cases occurred in Ohio in 10th, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-10
Select Cases_White from db2race where date = '20210110' and state = "OH"
Query Result:
[(443518.0,)]
Tapas Result:
423353.0
443518.0
['423353.0']
How many White confirmed cases occurred in Ohio in 13th, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-13
Select Cases_White from db2race where date = '20210113' and state = "OH"
Query Result:
[(458196.0,)]
Tapas Result:
423353.0
458196.0
['423353.0']
How many White confirmed cases occurred in Ohio in 16th, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-17
Select Cases_White from db2race where date = '20210117' and state = "OH"
Query Result:
[(474468.0,)]
Tapas Result:
423353.0
474468.0
['423353.0']
How many White confirmed cases occurred in Ohio in 19th, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-20
Select Cases_White from db2race where date = '20210120' and state = "OH"
Query Result:
[(485676.0,)]
Tapas Result:
423353.0
485676.0
['423353.0']
How many White confirmed cases occurred in Ohio in 22nd, January?
['confirmed cases', 'Ohio', 'White', 'January']
2021-01-24
Select Cases_White from db2race where date = '20210124' and state = "OH"
Query Result:
[(499074.0,)]
Tapas Result:
423353.0
499074.0
['423353.0']

4.0, 4.0
4.0
['4.0', '4.0']
Correct
How many Native Hawaiian deaths occurred in Ohio in 23rd, January?
['deaths', 'Ohio', 'Native Hawaiian', 'January']
2021-01-24
Select Deaths_NHPI from db2race where date = '20210124' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0
4.0
['4.0']
Correct
How many Native Hawaiian deaths occurred in Ohio in 26th, January?
['deaths', 'Ohio', 'Native Hawaiian', 'January']
2021-01-27
Select Deaths_NHPI from db2race where date = '20210127' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0
4.0
['4.0']
Correct
How many Alaska Native deaths occurred in Ohio in 1st, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-03
Select Deaths_AIAN from db2race where date = '20210103' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 4th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-06
Select Deaths_AIAN from db2race where date = '20210106' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 7th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-10
Select Deaths_AIAN from db2race where date = '20210110' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 10th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-10
Select Deaths_AIAN from db2race where date = '20210110' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 13th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-13
Select Deaths_AIAN from db2race where date = '20210113' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 16th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-17
Select Deaths_AIAN from db2race where date = '20210117' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 19th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-20
Select Deaths_AIAN from db2race where date = '20210120' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 22nd, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-24
Select Deaths_AIAN from db2race where date = '20210124' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 25th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-27
Select Deaths_AIAN from db2race where date = '20210127' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many Alaska Native deaths occurred in Ohio in 28th, January?
['deaths', 'Ohio', 'Alaska Native', 'January']
2021-01-31
Select Deaths_AIAN from db2race where date = '20210131' and state = "OH"
Query Result:
[(9.0,)]
Tapas Result:
8.0
9.0
['8.0']
How many American Indian or Alaska Native deaths occurred in Ohio in 3rd, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-03
Select Deaths_AIAN from db2race where date = '20210103' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 6th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-06
Select Deaths_AIAN from db2race where date = '20210106' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 9th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-10
Select Deaths_AIAN from db2race where date = '20210110' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
9.0
8.0
['9.0']
How many American Indian or Alaska Native deaths occurred in Ohio in 12th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-13
Select Deaths_AIAN from db2race where date = '20210113' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 15th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-17
Select Deaths_AIAN from db2race where date = '20210117' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 18th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-20
Select Deaths_AIAN from db2race where date = '20210120' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0
8.0
['8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 21st, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-24
Select Deaths_AIAN from db2race where date = '20210124' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 24th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-24
Select Deaths_AIAN from db2race where date = '20210124' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many American Indian or Alaska Native deaths occurred in Ohio in 27th, January?
['deaths', 'Ohio', 'American Indian or Alaska Native', 'January']
2021-01-27
Select Deaths_AIAN from db2race where date = '20210127' and state = "OH"
Query Result:
[(8.0,)]
Tapas Result:
8.0, 8.0
8.0
['8.0', '8.0']
Correct
How many Pacific Islander deaths occurred in Ohio in 2nd, January?
['deaths', 'Ohio', 'Pacific Islander', 'January']
2021-01-03
Select Deaths_NHPI from db2race where date = '20210103' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0
4.0
['4.0', '4.0']
Correct
How many Pacific Islander deaths occurred in Ohio in 5th, January?
['deaths', 'Ohio', 'Pacific Islander', 'January']
2021-01-06
Select Deaths_NHPI from db2race where date = '20210106' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
5.0
4.0
['5.0']
How many Pacific Islander deaths occurred in Ohio in 14th, January?
['deaths', 'Ohio', 'Pacific Islander', 'January']
2021-01-17
Select Deaths_NHPI from db2race where date = '20210117' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0
4.0
['4.0']
Correct
How many Pacific Islander deaths occurred in Ohio in 20th, January?
['deaths', 'Ohio', 'Pacific Islander', 'January']
2021-01-20
Select Deaths_NHPI from db2race where date = '20210120' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0
4.0
['4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 1st, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-03
Select Deaths_NHPI from db2race where date = '20210103' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0
4.0
['4.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 4th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-06
Select Deaths_NHPI from db2race where date = '20210106' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0
4.0
['4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 7th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-10
Select Deaths_NHPI from db2race where date = '20210110' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 5.0, 4.0
4.0
['4.0', '4.0', '4.0', '5.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 10th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-10
Select Deaths_NHPI from db2race where date = '20210110' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 5.0, 4.0
4.0
['4.0', '4.0', '4.0', '5.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 13th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-13
Select Deaths_NHPI from db2race where date = '20210113' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 5.0, 4.0
4.0
['4.0', '4.0', '4.0', '5.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 16th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-17
Select Deaths_NHPI from db2race where date = '20210117' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0
4.0
['4.0', '4.0', '4.0', '4.0', '4.0', '5.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 19th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-20
Select Deaths_NHPI from db2race where date = '20210120' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 4.0, 5.0, 4.0
4.0
['4.0', '4.0', '4.0', '4.0', '5.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 22nd, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-24
Select Deaths_NHPI from db2race where date = '20210124' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0
4.0
['4.0', '4.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 25th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-27
Select Deaths_NHPI from db2race where date = '20210127' and state = "OH"
Query Result:
[(4.0,)]
Tapas Result:
4.0, 4.0, 4.0, 5.0, 4.0
4.0
['4.0', '4.0', '4.0', '5.0', '4.0']
Correct
How many Pacific Islander and Native Hawaiian deaths occurred in Ohio in 28th, January?
['deaths', 'Ohio', 'Pacific Islander and Native Hawaiian', 'January']
2021-01-31
Select Deaths_NHPI from db2race where date = '20210131' and state = "OH"
Query Result:
[(5.0,)]
Tapas Result:
4.0, 4.0, 4.0, 4.0
5.0
['4.0', '4.0', '4.0', '4.0']
How many multiracial deaths occurred in Ohio in 3rd, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-03
Select Deaths_Multiracial from db2race where date = '20210103' and state = "OH"
Query Result:
[(166.0,)]
Tapas Result:
182.0
166.0
['182.0']
How many multiracial deaths occurred in Ohio in 6th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-06
Select Deaths_Multiracial from db2race where date = '20210106' and state = "OH"
Query Result:
[(182.0,)]
Tapas Result:
182.0
182.0
['182.0']
Correct
How many multiracial deaths occurred in Ohio in 9th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-10
Select Deaths_Multiracial from db2race where date = '20210110' and state = "OH"
Query Result:
[(184.0,)]
Tapas Result:
182.0
184.0
['182.0']
How many multiracial deaths occurred in Ohio in 12th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-13
Select Deaths_Multiracial from db2race where date = '20210113' and state = "OH"
Query Result:
[(191.0,)]
Tapas Result:
182.0
191.0
['182.0']
How many multiracial deaths occurred in Ohio in 15th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-17
Select Deaths_Multiracial from db2race where date = '20210117' and state = "OH"
Query Result:
[(198.0,)]
Tapas Result:
182.0
198.0
['182.0']
How many multiracial deaths occurred in Ohio in 18th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-20
Select Deaths_Multiracial from db2race where date = '20210120' and state = "OH"
Query Result:
[(206.0,)]
Tapas Result:
182.0
206.0
['182.0']
How many multiracial deaths occurred in Ohio in 21st, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-24
Select Deaths_Multiracial from db2race where date = '20210124' and state = "OH"
Query Result:
[(210.0,)]
Tapas Result:
182.0
210.0
['182.0']
How many multiracial deaths occurred in Ohio in 24th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-24
Select Deaths_Multiracial from db2race where date = '20210124' and state = "OH"
Query Result:
[(210.0,)]
Tapas Result:
182.0
210.0
['182.0']
How many multiracial deaths occurred in Ohio in 27th, January?
['deaths', 'Ohio', 'multiracial', 'January']
2021-01-27
Select Deaths_Multiracial from db2race where date = '20210127' and state = "OH"
Query Result:
[(214.0,)]
Tapas Result:
182.0
214.0
['182.0']
How many mixed deaths occurred in Ohio in 2nd, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-03
Select Deaths_Multiracial from db2race where date = '20210103' and state = "OH"
Query Result:
[(166.0,)]
Tapas Result:
182.0
166.0
['182.0']
How many mixed deaths occurred in Ohio in 5th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-06
Select Deaths_Multiracial from db2race where date = '20210106' and state = "OH"
Query Result:
[(182.0,)]
Tapas Result:
182.0
182.0
['182.0']
Correct
How many mixed deaths occurred in Ohio in 8th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-10
Select Deaths_Multiracial from db2race where date = '20210110' and state = "OH"
Query Result:
[(184.0,)]
Tapas Result:
182.0
184.0
['182.0']
How many mixed deaths occurred in Ohio in 11th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-13
Select Deaths_Multiracial from db2race where date = '20210113' and state = "OH"
Query Result:
[(191.0,)]
Tapas Result:
182.0
191.0
['182.0']
How many mixed deaths occurred in Ohio in 14th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-17
Select Deaths_Multiracial from db2race where date = '20210117' and state = "OH"
Query Result:
[(198.0,)]
Tapas Result:
182.0
198.0
['182.0']
How many mixed deaths occurred in Ohio in 17th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-17
Select Deaths_Multiracial from db2race where date = '20210117' and state = "OH"
Query Result:
[(198.0,)]
Tapas Result:
182.0
198.0
['182.0']
How many mixed deaths occurred in Ohio in 20th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-20
Select Deaths_Multiracial from db2race where date = '20210120' and state = "OH"
Query Result:
[(206.0,)]
Tapas Result:
182.0
206.0
['182.0']
How many mixed deaths occurred in Ohio in 23rd, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-24
Select Deaths_Multiracial from db2race where date = '20210124' and state = "OH"
Query Result:
[(210.0,)]
Tapas Result:
182.0
210.0
['182.0']
How many mixed deaths occurred in Ohio in 26th, January?
['deaths', 'Ohio', 'mixed', 'January']
2021-01-27
Select Deaths_Multiracial from db2race where date = '20210127' and state = "OH"
Query Result:
[(214.0,)]
Tapas Result:
182.0
214.0
['182.0']
91
32.5
267

In [ ]:
#2q6
with open("2q6data.json") as f: 
    tapas_data_2q6 = json.load(f)
len(tapas_data_2q6)

189

In [ ]:
count = 0
correct = 0
for i in range(len(data)): 
     if data[str(i+1)][0]['question_template_id'] == '2q6':
        q = data[str(i+1)][0]['question']
        ent = data[str(i+1)][0]['entities']
        if q not in tapas_data_2q6.keys():
            continue
        query = data[str(i+1)][0]['sql']
        query = query.replace('20210426', '20210307')
        if "African-American" in q: 
            query = query.replace("LatinX", "Black")
        if "LatinX" in query: 
            query = query.replace("LatinX", "Latinx")
        query2 = query.split(" ")
    
        if "Cases" in query2[1]: 
            query = query.replace(query2[1], query2[1] + "*100.0/Cases_Total")
        else:
            query = query.replace(query2[1], query2[1] + "*100.0/Deaths_Total")
        print(q)
        print(ent)
        print(query2)
        print(query)
        c.execute(query)
        res = c.fetchall()
        print("Query Result:")
        print(res)
        print("Tapas Result:")
        print(tapas_data_2q6[q])
        temp = tapas_data_2q6[q].split(", ")
        print(res[0][0])
        print(temp)
        count1 = 0
        check = False
        for i in temp: 
            if count1 >= 5:
                break
            if i == str(res[0][0]): 
                check = True
            if i == 'nan' and str(res[0][0]) == 'None':
               check = True
            count1 +=1
        if check == True: 
            correct += 1
            print("Correct")
        count+=1
print(correct)
print(correct*100.0/264)
print(count)

What percentage of confirmed cases in Ohio are African-American?
['confirmed cases', 'Ohio', 'African-American']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(10.402454441674816,)]
Tapas Result:
48.68297158308989, 31.457980335880677, 6.664698424307094, 32.88113152385401, 7.967984392187114, 4.9176748045595495, 6.545510324828528
10.402454441674816
['48.68297158308989', '31.457980335880677', '6.664698424307094', '32.88113152385401', '7.967984392187114', '4.9176748045595495', '6.545510324828528']
What percentage of confirmed cases in Ohio are Latino?
['confirmed cases', 'Ohio', 'Latino']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
16.447472666772303
None
['16.447472666772303']
What percentage of confirmed cases in Ohio are Asian?
['confirmed cases', 'Ohio', 'Asian']
['Select', 'Cases_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Asian*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(1.380827842623849,)]
Tapas Result:
29.3715318105562
1.380827842623849
['29.3715318105562']
What percentage of confirmed cases in Ohio are White?
['confirmed cases', 'Ohio', 'White']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(59.22955304756094,)]
Tapas Result:
57.636204562913825, 66.87890680005142, 79.20469930558589
59.22955304756094
['57.636204562913825', '66.87890680005142', '79.20469930558589']
What percentage of confirmed cases in Ohio are American Indian or Alaska Native?
['confirmed cases', 'Ohio', 'American Indian or Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(0.10782128443254833,)]
Tapas Result:
20.626306209128295
0.10782128443254833
['20.626306209128295']
What percentage of confirmed cases in Ohio are mixed?
['confirmed cases', 'Ohio', 'mixed']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(2.3872960976871056,)]
Tapas Result:
3.9573031026834085, 1.719145080416562
2.3872960976871056
['3.9573031026834085', '1.719145080416562']
What percentage of deaths in Ohio are Hispanic?
['deaths', 'Ohio', 'Hispanic']
['Select', 'Deaths_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Deaths_Latinx*100.0/Deaths_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
0.18770057756009903
None
['0.18770057756009903']
What percentage of deaths in Ohio are Black?
['deaths', 'Ohio', 'Black']
['Select', 'Deaths_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Deaths_Black*100.0/Deaths_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(12.21681014952424,)]
Tapas Result:
1.8662932470605278, 0.8975707454440975
12.21681014952424
['1.8662932470605278', '0.8975707454440975']
What percentage of deaths in Ohio are Caucasian?
['deaths', 'Ohio', 'Caucasian']
['Select', 'Deaths_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Deaths_White*100.0/Deaths_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(85.10421386497508,)]
Tapas Result:
1.70789181675182, 1.3145826964231122
85.10421386497508
['1.70789181675182', '1.3145826964231122']
What percentage of deaths in Ohio are Alaska Native?
['deaths', 'Ohio', 'Alaska Native']
['Select', 'Deaths_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Deaths_AIAN*100.0/Deaths_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(0.09062075215224287,)]
Tapas Result:
0.18708285579451223
0.09062075215224287
['0.18708285579451223']
What percentage of deaths in Ohio are multiracial?
['deaths', 'Ohio', 'multiracial']
['Select', 'Deaths_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Deaths_Multiracial*100.0/Deaths_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(0.14725872224739464,)]
Tapas Result:
0.028730804535571416, 0.020611782184481574
0.14725872224739464
['0.028730804535571416', '0.020611782184481574']
What percentage of cases in Ohio are African-American?
['cases', 'Ohio', 'African-American']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(10.402454441674816,)]
Tapas Result:
48.68297158308989, 31.457980335880677, 32.88113152385401, 7.967984392187114, 4.9176748045595495, 6.545510324828528
10.402454441674816
['48.68297158308989', '31.457980335880677', '32.88113152385401', '7.967984392187114', '4.9176748045595495', '6.545510324828528']
What percentage of cases in Ohio are Latino?
['cases', 'Ohio', 'Latino']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(None,)]
Tapas Result:
16.447472666772303
None
['16.447472666772303']
What percentage of cases in Ohio are Asian?
['cases', 'Ohio', 'Asian']
['Select', 'Cases_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Asian*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(1.380827842623849,)]
Tapas Result:
29.3715318105562
1.380827842623849
['29.3715318105562']
What percentage of cases in Ohio are White?
['cases', 'Ohio', 'White']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(59.22955304756094,)]
Tapas Result:
57.636204562913825, 48.362269959481175, 79.20469930558589
59.22955304756094
['57.636204562913825', '48.362269959481175', '79.20469930558589']
What percentage of cases in Ohio are American Indian or Alaska Native?
['cases', 'Ohio', 'American Indian or Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(0.10782128443254833,)]
Tapas Result:
20.626306209128295
0.10782128443254833
['20.626306209128295']
What percentage of cases in Ohio are mixed?
['cases', 'Ohio', 'mixed']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"OH"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "OH"
Query Result:
[(2.3872960976871056,)]
Tapas Result:
3.9573031026834085
2.3872960976871056
['3.9573031026834085']
What percentage of confirmed cases in New Mexico are Hispanic?
['confirmed cases', 'New Mexico', 'Hispanic']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(46.9431099603043,)]
Tapas Result:
16.074863355528645, 16.447472666772303, 31.268203774302762, 14.552623278309326
46.9431099603043
['16.074863355528645', '16.447472666772303', '31.268203774302762', '14.552623278309326']
What percentage of confirmed cases in New Mexico are Black?
['confirmed cases', 'New Mexico', 'Black']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(1.2625587143300414,)]
Tapas Result:
48.68297158308989, 32.88113152385401, 31.457980335880677
1.2625587143300414
['48.68297158308989', '32.88113152385401', '31.457980335880677']
What percentage of confirmed cases in New Mexico are American Indian?
['confirmed cases', 'New Mexico', 'American Indian']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(16.295032152448616,)]
Tapas Result:
4.925500995820699
16.295032152448616
['4.925500995820699']
What percentage of confirmed cases in New Mexico are Caucasian?
['confirmed cases', 'New Mexico', 'Caucasian']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(17.291169578754776,)]
Tapas Result:
57.636204562913825, 66.87890680005142, 79.20469930558589
17.291169578754776
['57.636204562913825', '66.87890680005142', '79.20469930558589']
What percentage of confirmed cases in New Mexico are Alaska Native?
['confirmed cases', 'New Mexico', 'Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(16.295032152448616,)]
Tapas Result:
20.626306209128295, 4.108538455919947
16.295032152448616
['20.626306209128295', '4.108538455919947']
What percentage of confirmed cases in New Mexico are multiracial?
['confirmed cases', 'New Mexico', 'multiracial']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(None,)]
Tapas Result:
1.2230557315172186, 3.9573031026834085
None
['1.2230557315172186', '3.9573031026834085']
What percentage of deaths in New Mexico are African-American?
['deaths', 'New Mexico', 'African-American']
['Select', 'Deaths_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Deaths_Black*100.0/Deaths_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(1.286764705882353,)]
Tapas Result:
1.8662932470605278, 0.8975707454440975
1.286764705882353
['1.8662932470605278', '0.8975707454440975']
What percentage of deaths in New Mexico are Asian?
['deaths', 'New Mexico', 'Asian']
['Select', 'Deaths_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Deaths_Asian*100.0/Deaths_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(0.7090336134453782,)]
Tapas Result:
0.04887750286523292, 0.17435912667925973, 0.4258614014711576
0.7090336134453782
['0.04887750286523292', '0.17435912667925973', '0.4258614014711576']
What percentage of deaths in New Mexico are White?
['deaths', 'New Mexico', 'White']
['Select', 'Deaths_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Deaths_White*100.0/Deaths_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(28.807773109243698,)]
Tapas Result:
1.70789181675182, 2.032954768362881, 1.1725558548565995
28.807773109243698
['1.70789181675182', '2.032954768362881', '1.1725558548565995']
What percentage of deaths in New Mexico are American Indian or Alaska Native?
['deaths', 'New Mexico', 'American Indian or Alaska Native']
['Select', 'Deaths_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Deaths_AIAN*100.0/Deaths_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(27.941176470588236,)]
Tapas Result:
0.18708285579451223
27.941176470588236
['0.18708285579451223']
What percentage of deaths in New Mexico are Pacific Islander and Native Hawaiian?
['deaths', 'New Mexico', 'Pacific Islander and Native Hawaiian']
['Select', 'Deaths_NHPI', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Deaths_NHPI*100.0/Deaths_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(None,)]
Tapas Result:
0.009196337230257435
None
['0.009196337230257435']
What percentage of cases in New Mexico are Hispanic?
['cases', 'New Mexico', 'Hispanic']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(46.9431099603043,)]
Tapas Result:
16.447472666772303
46.9431099603043
['16.447472666772303']
What percentage of cases in New Mexico are Black?
['cases', 'New Mexico', 'Black']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(1.2625587143300414,)]
Tapas Result:
48.68297158308989, 31.457980335880677
1.2625587143300414
['48.68297158308989', '31.457980335880677']
What percentage of cases in New Mexico are Caucasian?
['cases', 'New Mexico', 'Caucasian']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(17.291169578754776,)]
Tapas Result:
79.20469930558589
17.291169578754776
['79.20469930558589']
What percentage of cases in New Mexico are Alaska Native?
['cases', 'New Mexico', 'Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(16.295032152448616,)]
Tapas Result:
20.626306209128295
16.295032152448616
['20.626306209128295']
What percentage of cases in New Mexico are multiracial?
['cases', 'New Mexico', 'multiracial']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"NM"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "NM"
Query Result:
[(None,)]
Tapas Result:
1.2230557315172186, 3.9573031026834085
None
['1.2230557315172186', '3.9573031026834085']
What percentage of confirmed cases in Wisconsin are African-American?
['confirmed cases', 'Wisconsin', 'African-American']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(6.522760249270495,)]
Tapas Result:
22.373633338615118, 48.68297158308989, 31.457980335880677, 6.664698424307094, 9.237900920861028, 21.110966724540713, 32.88113152385401, 7.967984392187114, 11.328177395163946, 28.925252827772457
6.522760249270495
['22.373633338615118', '48.68297158308989', '31.457980335880677', '6.664698424307094', '9.237900920861028', '21.110966724540713', '32.88113152385401', '7.967984392187114', '11.328177395163946', '28.925252827772457']
What percentage of confirmed cases in Wisconsin are Latino?
['confirmed cases', 'Wisconsin', 'Latino']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(None,)]
Tapas Result:
18.35605235597725, 8.936942231909079, 16.447472666772303
None
['18.35605235597725', '8.936942231909079', '16.447472666772303']
What percentage of confirmed cases in Wisconsin are Asian?
['confirmed cases', 'Wisconsin', 'Asian']
['Select', 'Cases_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Cases_Asian*100.0/Cases_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(2.5018740328221165,)]
Tapas Result:
5.328220702954309, 29.3715318105562
2.5018740328221165
['5.328220702954309', '29.3715318105562']
What percentage of confirmed cases in Wisconsin are White?
['confirmed cases', 'Wisconsin', 'White']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(77.38082599002017,)]
Tapas Result:
57.636204562913825, 66.87890680005142, 79.20469930558589
77.38082599002017
['57.636204562913825', '66.87890680005142', '79.20469930558589']
What percentage of confirmed cases in Wisconsin are American Indian or Alaska Native?
['confirmed cases', 'Wisconsin', 'American Indian or Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(1.219327793274072,)]
Tapas Result:
20.626306209128295
1.219327793274072
['20.626306209128295']
What percentage of confirmed cases in Wisconsin are mixed?
['confirmed cases', 'Wisconsin', 'mixed']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(None,)]
Tapas Result:
1.2230557315172186, 3.9573031026834085, 1.719145080416562
None
['1.2230557315172186', '3.9573031026834085', '1.719145080416562']
What percentage of deaths in Wisconsin are Hispanic?
['deaths', 'Wisconsin', 'Hispanic']
['Select', 'Deaths_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Deaths_Latinx*100.0/Deaths_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(None,)]
Tapas Result:
0.6969224257538569
None
['0.6969224257538569']
What percentage of deaths in Wisconsin are Black?
['deaths', 'Wisconsin', 'Black']
['Select', 'Deaths_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Deaths_Black*100.0/Deaths_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(6.726709822685055,)]
Tapas Result:
1.8662932470605278, 0.8975707454440975
6.726709822685055
['1.8662932470605278', '0.8975707454440975']
What percentage of deaths in Wisconsin are American Indian?
['deaths', 'Wisconsin', 'American Indian']
['Select', 'Deaths_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Deaths_AIAN*100.0/Deaths_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(1.3650436251055447,)]
Tapas Result:
0.005255049845861391
1.3650436251055447
['0.005255049845861391']
What percentage of deaths in Wisconsin are Caucasian?
['deaths', 'Wisconsin', 'Caucasian']
['Select', 'Deaths_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WI"', '']
Select Deaths_White*100.0/Deaths_Total from db2race where date = '20210307' and state = "WI"
Query Result:
[(86.46214466647903,)]
Tapas Result:
1.70789181675182, 2.05525155406196
86.46214466647903
['1.70789181675182', '2.05525155406196']

Query Result:
[(None,)]
Tapas Result:
16.447472666772303
None
['16.447472666772303']
What percentage of cases in Virgin Islands are Black?
['cases', 'Virgin Islands', 'Black']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"VI"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "VI"
Query Result:
[(None,)]
Tapas Result:
48.68297158308989, 31.457980335880677
None
['48.68297158308989', '31.457980335880677']
What percentage of cases in Virgin Islands are Caucasian?
['cases', 'Virgin Islands', 'Caucasian']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"VI"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "VI"
Query Result:
[(None,)]
Tapas Result:
83.331709693132, 79.20469930558589
None
['83.331709693132', '79.20469930558589']
What percentage of cases in Virgin Islands are Alaska Native?
['cases', 'Virgin Islands', 'Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"VI"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "VI"
Query Result:
[(None,)]
Tapas Result:
20.626306209128295
None
['20.626306209128295']
What percentage of cases in Virgin Islands are multiracial?
['cases', 'Virgin Islands', 'multiracial']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"VI"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "VI"
Query Result:
[(None,)]
Tapas Result:
1.2230557315172186, 3.9573031026834085, 1.719145080416562, 0.38869720924138534
None
['1.2230557315172186', '3.9573031026834085', '1.719145080416562', '0.38869720924138534']
What percentage of confirmed cases in Arizona are African-American?
['confirmed cases', 'Arizona', 'African-American']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(3.118745870913566,)]
Tapas Result:
3.118745870913566
3.118745870913566
['3.118745870913566']
Correct
What percentage of confirmed cases in Arizona are Latino?
['confirmed cases', 'Arizona', 'Latino']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(29.58894263927575,)]
Tapas Result:
29.58894263927575
29.58894263927575
['29.58894263927575']
Correct
What percentage of confirmed cases in Arizona are Asian?
['confirmed cases', 'Arizona', 'Asian']
['Select', 'Cases_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Asian*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(1.442427527726891,)]
Tapas Result:
1.442427527726891
1.442427527726891
['1.442427527726891']
Correct
What percentage of confirmed cases in Arizona are White?
['confirmed cases', 'Arizona', 'White']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(37.32246440818243,)]
Tapas Result:
37.32246440818243
37.32246440818243
['37.32246440818243']
Correct
What percentage of confirmed cases in Arizona are American Indian or Alaska Native?
['confirmed cases', 'Arizona', 'American Indian or Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(4.925500995820699,)]
Tapas Result:
4.925500995820699
4.925500995820699
['4.925500995820699']
Correct
What percentage of confirmed cases in Arizona are mixed?
['confirmed cases', 'Arizona', 'mixed']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(None,)]
Tapas Result:
0.022469899696864408, 6.183016156730803, 1.719145080416562, 0.38869720924138534, 3.9573031026834085
None
['0.022469899696864408', '6.183016156730803', '1.719145080416562', '0.38869720924138534', '3.9573031026834085']
What percentage of deaths in Arizona are Hispanic?
['deaths', 'Arizona', 'Hispanic']
['Select', 'Deaths_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_Latinx*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(28.68691817736404,)]
Tapas Result:
0.5667587064736815
28.68691817736404
['0.5667587064736815']
What percentage of deaths in Arizona are Black?
['deaths', 'Arizona', 'Black']
['Select', 'Deaths_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_Black*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(2.6518863302302793,)]
Tapas Result:
0.052392510653950494
2.6518863302302793
['0.052392510653950494']
What percentage of deaths in Arizona are American Indian?
['deaths', 'Arizona', 'American Indian']
['Select', 'Deaths_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_AIAN*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(8.335374816266537,)]
Tapas Result:
0.1646794618938259
8.335374816266537
['0.1646794618938259']
What percentage of deaths in Arizona are Caucasian?
['deaths', 'Arizona', 'Caucasian']
['Select', 'Deaths_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_White*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(49.39980401763841,)]
Tapas Result:
0.9759768843758999
49.39980401763841
['0.9759768843758999']
What percentage of deaths in Arizona are Alaska Native?
['deaths', 'Arizona', 'Alaska Native']
['Select', 'Deaths_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_AIAN*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(8.335374816266537,)]
Tapas Result:
0.1646794618938259
8.335374816266537
['0.1646794618938259']
What percentage of deaths in Arizona are Pacific Islander?
['deaths', 'Arizona', 'Pacific Islander']
['Select', 'Deaths_NHPI', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_NHPI*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(None,)]
Tapas Result:
nan
None
['nan']
Correct
What percentage of deaths in Arizona are multiracial?
['deaths', 'Arizona', 'multiracial']
['Select', 'Deaths_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Deaths_Multiracial*100.0/Deaths_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(None,)]
Tapas Result:
nan
None
['nan']
Correct
What percentage of cases in Arizona are African-American?
['cases', 'Arizona', 'African-American']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(3.118745870913566,)]
Tapas Result:
3.118745870913566
3.118745870913566
['3.118745870913566']
Correct
What percentage of cases in Arizona are Latino?
['cases', 'Arizona', 'Latino']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(29.58894263927575,)]
Tapas Result:
29.58894263927575
29.58894263927575
['29.58894263927575']
Correct
What percentage of cases in Arizona are Asian?
['cases', 'Arizona', 'Asian']
['Select', 'Cases_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_Asian*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(1.442427527726891,)]
Tapas Result:
4.124249983145688, 1.442427527726891, 29.3715318105562
1.442427527726891
['4.124249983145688', '1.442427527726891', '29.3715318105562']
Correct
What percentage of cases in Arizona are White?
['cases', 'Arizona', 'White']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(37.32246440818243,)]
Tapas Result:
37.32246440818243
37.32246440818243
['37.32246440818243']
Correct
What percentage of cases in Arizona are Native Hawaiian?
['cases', 'Arizona', 'Native Hawaiian']
['Select', 'Cases_NHPI', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_NHPI*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(None,)]
Tapas Result:
nan
None
['nan']
Correct
What percentage of cases in Arizona are American Indian or Alaska Native?
['cases', 'Arizona', 'American Indian or Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(4.925500995820699,)]
Tapas Result:
20.626306209128295, 4.925500995820699
4.925500995820699
['20.626306209128295', '4.925500995820699']
Correct
What percentage of cases in Arizona are Pacific Islander and Native Hawaiian?
['cases', 'Arizona', 'Pacific Islander and Native Hawaiian']
['Select', 'Cases_NHPI', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"AZ"', '']
Select Cases_NHPI*100.0/Cases_Total from db2race where date = '20210307' and state = "AZ"
Query Result:
[(None,)]
Tapas Result:
nan
None
['nan']
Correct
What percentage of confirmed cases in Rhode Island are Hispanic?
['confirmed cases', 'Rhode Island', 'Hispanic']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(24.213829114665042,)]
Tapas Result:
16.074863355528645, 16.447472666772303, 14.552623278309326
24.213829114665042
['16.074863355528645', '16.447472666772303', '14.552623278309326']
What percentage of confirmed cases in Rhode Island are Black?
['confirmed cases', 'Rhode Island', 'Black']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(6.072384698839379,)]
Tapas Result:
48.68297158308989, 32.88113152385401
6.072384698839379
['48.68297158308989', '32.88113152385401']
What percentage of confirmed cases in Rhode Island are Caucasian?
['confirmed cases', 'Rhode Island', 'Caucasian']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(46.353837388094064,)]
Tapas Result:
57.636204562913825, 83.331709693132, 66.87890680005142, 79.20469930558589
46.353837388094064
['57.636204562913825', '83.331709693132', '66.87890680005142', '79.20469930558589']
What percentage of confirmed cases in Rhode Island are Alaska Native?
['confirmed cases', 'Rhode Island', 'Alaska Native']
['Select', 'Cases_AIAN', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_AIAN*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(0.24117826117498303,)]
Tapas Result:
4.108538455919947
0.24117826117498303
['4.108538455919947']
What percentage of confirmed cases in Rhode Island are multiracial?
['confirmed cases', 'Rhode Island', 'multiracial']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(0.9366146065047884,)]
Tapas Result:
1.2230557315172186, 3.9573031026834085, 1.719145080416562, 6.183016156730803
0.9366146065047884
['1.2230557315172186', '3.9573031026834085', '1.719145080416562', '6.183016156730803']
What percentage of deaths in Rhode Island are African-American?
['deaths', 'Rhode Island', 'African-American']
['Select', 'Deaths_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Deaths_Black*100.0/Deaths_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(4.092876820149548,)]
Tapas Result:
1.8662932470605278, 0.8975707454440975
4.092876820149548
['1.8662932470605278', '0.8975707454440975']
What percentage of deaths in Rhode Island are Asian?
['deaths', 'Rhode Island', 'Asian']
['Select', 'Deaths_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Deaths_Asian*100.0/Deaths_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(1.4561196379378198,)]
Tapas Result:
0.17435912667925973, 0.4258614014711576
1.4561196379378198
['0.17435912667925973', '0.4258614014711576']
What percentage of deaths in Rhode Island are White?
['deaths', 'Rhode Island', 'White']
['Select', 'Deaths_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Deaths_White*100.0/Deaths_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(71.46792601338056,)]
Tapas Result:
1.70789181675182, 2.032954768362881, 2.05525155406196
71.46792601338056
['1.70789181675182', '2.032954768362881', '2.05525155406196']
What percentage of deaths in Rhode Island are Pacific Islander and Native Hawaiian?
['deaths', 'Rhode Island', 'Pacific Islander and Native Hawaiian']
['Select', 'Deaths_NHPI', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Deaths_NHPI*100.0/Deaths_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(0.0,)]
Tapas Result:
0.009196337230257435
0.0
['0.009196337230257435']
What percentage of cases in Rhode Island are Hispanic?
['cases', 'Rhode Island', 'Hispanic']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(24.213829114665042,)]
Tapas Result:
16.447472666772303
24.213829114665042
['16.447472666772303']
What percentage of cases in Rhode Island are Black?
['cases', 'Rhode Island', 'Black']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(6.072384698839379,)]
Tapas Result:
48.68297158308989, 31.457980335880677
6.072384698839379
['48.68297158308989', '31.457980335880677']
What percentage of cases in Rhode Island are Caucasian?
['cases', 'Rhode Island', 'Caucasian']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(46.353837388094064,)]
Tapas Result:
83.331709693132, 79.20469930558589
46.353837388094064
['83.331709693132', '79.20469930558589']
What percentage of cases in Rhode Island are multiracial?
['cases', 'Rhode Island', 'multiracial']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"RI"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "RI"
Query Result:
[(0.9366146065047884,)]
Tapas Result:
1.2230557315172186, 1.719145080416562, 6.183016156730803
0.9366146065047884
['1.2230557315172186', '1.719145080416562', '6.183016156730803']
What percentage of confirmed cases in West Virginia are African-American?
['confirmed cases', 'West Virginia', 'African-American']
['Select', 'Cases_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Cases_Black*100.0/Cases_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(3.464348608040766,)]
Tapas Result:
48.68297158308989, 32.88113152385401
3.464348608040766
['48.68297158308989', '32.88113152385401']
What percentage of confirmed cases in West Virginia are Latino?
['confirmed cases', 'West Virginia', 'Latino']
['Select', 'Cases_Latinx', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Cases_Latinx*100.0/Cases_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(None,)]
Tapas Result:
16.074863355528645, 16.447472666772303
None
['16.074863355528645', '16.447472666772303']
What percentage of confirmed cases in West Virginia are Asian?
['confirmed cases', 'West Virginia', 'Asian']
['Select', 'Cases_Asian', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Cases_Asian*100.0/Cases_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(None,)]
Tapas Result:
21.75612204653831, 29.3715318105562
None
['21.75612204653831', '29.3715318105562']
What percentage of confirmed cases in West Virginia are White?
['confirmed cases', 'West Virginia', 'White']
['Select', 'Cases_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Cases_White*100.0/Cases_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(83.331709693132,)]
Tapas Result:
48.362269959481175, 25.852869456046744, 79.20469930558589, 57.636204562913825, 83.331709693132
83.331709693132
['48.362269959481175', '25.852869456046744', '79.20469930558589', '57.636204562913825', '83.331709693132']
Correct
What percentage of confirmed cases in West Virginia are mixed?
['confirmed cases', 'West Virginia', 'mixed']
['Select', 'Cases_Multiracial', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Cases_Multiracial*100.0/Cases_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(None,)]
Tapas Result:
3.955968247387482, 3.9573031026834085, 1.719145080416562, 0.022469899696864408
None
['3.955968247387482', '3.9573031026834085', '1.719145080416562', '0.022469899696864408']
What percentage of deaths in West Virginia are Black?
['deaths', 'West Virginia', 'Black']
['Select', 'Deaths_Black', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Deaths_Black*100.0/Deaths_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(2.4516129032258065,)]
Tapas Result:
1.8662932470605278, 0.8975707454440975
2.4516129032258065
['1.8662932470605278', '0.8975707454440975']
What percentage of deaths in West Virginia are Caucasian?
['deaths', 'West Virginia', 'Caucasian']
['Select', 'Deaths_White', 'from', 'db2race', 'where', 'date', '=', "'20210307'", 'and', 'state', '=', '"WV"', '']
Select Deaths_White*100.0/Deaths_Total from db2race where date = '20210307' and state = "WV"
Query Result:
[(88.12903225806451,)]
Tapas Result:
1.70789181675182, 2.05525155406196
88.12903225806451
['1.70789181675182', '2.05525155406196']